[2016-01-15 15:45] MZDN opened #1 "azure-uamqp-c vs qpid-proton for c"
Are you planning to use azure-uamqp-c for producton instead of qpid-proton-c?

[2016-01-20 21:13] dcristoloveanu commented on #1
Sorry for the delay.
We are planning to use uamqp for the IoTHub Device SDK (azure-iot-sdks) in the near future.

Hope this helps,
/Dan

[2016-01-21 10:12] MZDN commented on #1
@dcristoloveanu thanks for your reply! Will you support service bus too?

[2016-01-21 17:20] dcristoloveanu commented on #1
@MZDN We do have in plan using this in the EventHub C client (at azure-event-hubs), which is nothing else than a wrapper API on top of an underlying AMQP lib, but currently there is no plan for other SB components AFAIK (queues/topics etc).

I believe having some samples for SB should not be such a daunting task, as there is already a sample of pushing events to EventHub. A similar sample could be

[2016-01-29 09:56] MZDN commented on #1
@dcristoloveanu many thnaks for your reply. It will be helpful to put some samples for queues/topics. Thanks!

[2016-03-22 16:15] MZDN opened #4 "uamqp compile issue"
@dcristoloveanu
I have tried to cross compile uamqp lib, but I have got following issue:

azure-uamqp-c-070db5c06ec9677c7963c0f7be06d812029b1295/azure-c-shared-utility/c/src/crt_abstractions.c:12:
azure-uamqp-c-070db5c06ec9677c7963c0f7be06d812029b1295/azure-c-shared-utility/c/inc/crt_abstractions.h:67: error: two or more data types in declaration specifiers
azure-uamqp-c-070db5c06ec9677c7963c0f7be

[2016-03-23 09:18] lmussier opened #5 "uamqp won't compile without -fpermisive option"
Hi doing the following

[code]

Lead to numerous compile errors, apprently in the shared utility test framework
[code]

Adding -DcompileOption_CXX="-fpermissive" to cmake command line hide problem, but this sound weird to me...

[2016-03-23 12:37] MZDN commented on #5
@lmussier
you can skip tests with:
cmake -Dskip_unittests:BOOL=OFF ..

[2016-03-23 14:08] lmussier commented on #5
@MZDN
This seems to prevent tests to be run but not to be compiled, the error is still there for me.
The only way I found to go through the build process is to set the -fpermiseve option.

[code]

[2016-03-24 09:10] MZDN commented on #5
@Imussier
I have compiled it without  -fpermissive option:
cmake version 3.2.2
gcc (Ubuntu 4.9.3-8ubuntu2~14.04) 4.9.3

[2016-03-24 12:37] MZDN commented on #5
Please try to compile without the -DcompileOption_C. It seems that with that option it can only be compile with -DcompileOption_C="-std=c99". Sorry I don't know why.

[2016-03-24 12:38] lmussier commented on #5
@MZDN
Can you share you cmake command ? I've done another test and with the commands off the open post I get errors (see below for the complete log).
By the way, I use master branch.

[code]

[2016-03-24 12:39] MZDN commented on #4
I had to use -DcompileOption_C="-std=gnu99" to pass this error

[2016-03-24 12:39] lmussier commented on #5
@MZDN Huuu mid air collision, I've try without the c99 optio, it does not work more :s
Do you enable websockets during your test ?

[2016-03-24 14:59] MZDN commented on #5
for websockets I have used defualt settings.

[2016-04-04 08:53] #4 closed

[2016-04-06 09:27] #1 closed

[2016-04-18 08:50] MZDN opened #6 "connection issue with commit b656452878e391dbac09d514f0c628821c950ccc"
The client is not able to create the amqp connection:
azure-uamqp-c-b656452878e391dbac09d514f0c628821c950ccc/azure-c-shared-utility/adapters/socketio_berkeley.c Func:socketio_open Line:274 Failure: getaddrinfo failure -2.
azure-uamqp-c-b656452878e391dbac09d514f0c628821c950ccc/azure-c-shared-utility/adapters/socketio_berkeley.c Func:socketio_open Line:274 Failure: getaddrinfo failure -2.

[2016-04-18 14:37] MZDN opened #7 "high cpu usage on recv socketio_berkeley.c [amqp]"
when running receive sample for amqp, the cpu usage is high. I try to debug with strace
~ # strace -c -p 7713
Process 7713 attached - interrupt to quit
^CProcess 7713 detached
% time     seconds  usecs/call     calls    errors syscall
------ ----------- ----------- --------- --------- ----------------
 68.44    0.093948           1    104773    104773 recv
 31.56    0.043331           0    104773

[2016-05-23 23:48] QiMata opened #10 "Can not listen to IoT Hub with listener sample"
I am trying to listen to the IoT Hub device messenger endpoint using the listener sample. I have removed the connection strings but you get the idea. There is no error just no messages recieved:

[code]

[2016-05-25 10:00] MZDN commented on #10
@QiMata try to clone a commit before include file renaming.

[2016-06-08 11:06] QiMata commented on #10
I cloned it locally and built. Not sure what the commit change will do. What is the expectation? Let me expand on what I was trying to do:

The current example for device listening listens to the underlying AMQP endpoint for that device. What I am trying to do is make a small change (listed below) to listen to the device messenger endpoint (the endpoint where devices send their message). The goal

[2016-06-13 15:26] mregen opened #11 "Nuget package doesn't build for x64"
https://github.com/Azure/azure-uamqp-c/blob/master/build_all/packaging/windows/rebuild_nugets.cmd
line75 & 79 source should be uamqp_x64?

[2016-06-14 15:50] anthonyvercolano commented on #11
Fixed.

[2016-06-14 15:50] #11 closed

[2016-06-17 11:03] #7 closed

[2016-06-17 11:04] MZDN commented on #6
conection string should be checked and corrected

[2016-06-17 11:04] #6 closed

[2016-08-14 19:31] SparhawkSoftware opened #13 "samples with amqpalloc_set_memory_tracing_enabled(false) causes crash"
Is it supposed to work without memory tracing?

[2016-08-15 17:45] SparhawkSoftware opened #14 "connection_destroy_endpoint has memory leak"
This leak shows up when running the message_sender_sample.
It occurs because the realloc to 0 returns a NULL pointer but does not free the original block.

I have fixed with an if-else that checks for this case but is that the right fix?
Should amqpalloc_realloc be fixed?

[2016-08-15 19:00] dcristoloveanu commented on #14
Hi @SparhawkSoftware ,

Thanks for reporting this!

I think the connection_destroy_endpoint fix is the right one in this case - to not do a realloc if (connection->endpoint_count - 1) is zero (basically shrinking the endpoints to zero size).

If you'd like to contribute this I'll merge it in.

Cheers,
/Dan

[2016-08-16 03:11] SparhawkSoftware commented on #14
I found some more memory leaks in message_receiver_sample (does not clean up properly).

I am working on some OPC UA PubSub specific demos. I was thinking of forking to https://github.com/OPCFoundation unless you have an interest in adding such demos to the baseline.

[2016-08-16 05:10] dcristoloveanu commented on #14
Hi @SparhawkSoftware,

I'd be definitely interested in taking the additional leaks out.
I guess if you have lots of samples they best fit in an OPC Foundation repo.
The 2 options I see are:
- Forking and adding samples in the fork like you mentioned
- Adding azure-uamqp-c as a submodule in the OPC Foundation repo where you host the samples.
I'd favor the submodule one since it avoids creating chan

[2016-08-16 05:11] dcristoloveanu commented on #13
Let me have a quick look at this and I will come back with what's going on.

[2016-08-16 05:57] SparhawkSoftware commented on #14
Hi Dan,

The reason suggested a fork is I had to change the shared utils to get it compile with OpenSSL on windows. I am not sure you want those changes in the baseline. The main use cases for using OpenSSL on Windows are:

1) Someone is already using OpenSSL in their app and wants consistent behavior across Windows OSes (TLS 1.2 is supported by OpenSSL on Windows XP but not by SChannel).

2) Scha

[2016-08-16 06:04] SparhawkSoftware commented on #10
I had a similar issue. The listener would appear to start but I got no data.
I was able to establish that I was using the wrong key (I was using urlencoded when i needed raw).
The lack of any sort of error reporting on bad credentials is a bug.
However, I have had the time to investigate to determine if the issue was not in my code.

Try double and triple checking the credentials you are using.

[2016-08-18 05:58] dcristoloveanu commented on #14
Hi Randy,

If this is behind a cmake option, I'd actually love it!
Something like use_tlsio_openssl in cmake forcing OpenSSL usage on Windows would not hurt in anyway in my opinion.

This would also help you I believe with the fact that you don't have to maintain a fork.

Cheers,
/Dan

[2016-08-23 21:38] markrad commented on #5
Hi @lmussier,

This issue was just sent over to me. I see it is somewhat dated now. I'm not sure why it slipped through the cracks. Anyway, I tested the specified steps and it no longer reproduces so I have closed it. Should you still be experiencing this issue please reopen and I will take another look.

Thanks,

_Mark Radbourne MSFT_

[2016-08-23 21:38] #5 closed

[2016-08-24 03:17] SparhawkSoftware commented on #14
Submitted pull request: https://github.com/Azure/azure-uamqp-c/pull/16

[2016-09-13 20:13] chrit-msft commented on #10
@QiMata I have reviewed this and discussed the issue with the sample owner.  One of the main issues here is that the sample is only listening on partition 0.  I am working on modifying the sample to determine the partition the device is on similar to the C# samples (including Device Explorer).  I will provide another update if\when I get the sample working with these changes.

[2016-09-15 04:36] SparhawkSoftware opened #19 "trace_free is not thread safe"
I get crashes in trace_free when I access the library simultaneously from multiple threads.
It looks like it is because trace_free is not thread safe.
Does this sound like a correct diagnosis?

[2016-09-15 04:37] SparhawkSoftware commented on #13
any information.
I created a new issue because now trace_free is crashing as well.

[2016-09-15 05:22] dcristoloveanu commented on #19
You are correct, trace_free is not thread safe.
If you do not need the memory trace (which has been used to measure memory usage for some scenarios), I'd say disable it with the memory_trace cmake option.
cmake .. -Dmemory_trace:bool=OFF

Let me know if this helps.

[2016-09-15 05:23] dcristoloveanu commented on #13
I finally got to this.

I just tried to run message_sender_sample with amqpalloc_set_memory_tracing_enabled(false); on Windows and it seems to run.
Can you give me the details of what you are running and on what platform so I can repro?

Thanks,
/Dan

[2016-09-15 05:42] SparhawkSoftware commented on #13
The trace above shows up in my app and in the sample programs.
I am using a build with OpenSSL enabled.

[2016-09-15 05:59] SparhawkSoftware commented on #19
With -Dmemory_trace:bool=OFF get the crash I reported in the other thread.

[2016-09-15 07:08] dcristoloveanu commented on #13
I switched to using OpenSSL on Windows after I pulled in the changes to OpenSSL in C shared utility. I'm hitting a different issue where it seems the handshake for tlsio_openssl does not complete, once I'm done with that I'll see where this AV comes from.

I'm using message_sender_sample as this is the simplest and based on the above I suspect this should be enough to repro it.

[2016-09-15 07:10] dcristoloveanu commented on #19
It seems the crash in #13 is what needs fixing, so looking at that and closing this issue.

[2016-09-15 07:10] #19 closed

[2016-09-15 16:10] dcristoloveanu commented on #14
The fix for the leak has been merged into develop.

[2016-09-15 16:10] #14 closed

[2016-09-17 06:08] dcristoloveanu commented on #13
@SparhawkSoftware

Hi Randy,

I figured my issue was due to the way I was doing cert validation in my sample code.
I got to try your receiver sample now with OpenSSL on Windows without memory tracing.

Here is what I did:
- Took your sample code (I pushed it to this branch for reference: https://github.com/Azure/azure-uamqp-c/tree/dcristo_repro_issue_13)
- cmake .. -Duse_openssl:bool=ON -Dmemory_t

[2016-09-17 06:09] dcristoloveanu commented on #13
I forgot to mention I am using openssl 1.0.1t.

[2016-09-17 07:19] SparhawkSoftware commented on #13
I can't replicate with your branch because you did not pick up the updates I added for OpenSSL.

These updates are now integrated into the development branch here:
https://github.com/Azure/azure-c-shared-utility

I tried your sample with the develop branch and could replicate.
I used my message_sender_sample from here:
https://github.com/SparhawkSoftware/azure-uamqp-c

I could replicate the proble

[2016-09-17 07:24] SparhawkSoftware commented on #13
I also have the same problem with SSPI enabled.

[2016-09-17 14:49] SparhawkSoftware commented on #13
I removed the code I added to set the OpenSSL validation callback and I can still replicate.

(e.g. I added a dummy function inside of tlsio_openssl.c to validate and commented out the calls to xio_setoption)

At this point my theory is it is related to the fact that I am not connecting to an EH and I changed the value that was passed into messaging_create_target (I can't change it back since I ca

[2016-09-17 19:41] dcristoloveanu commented on #13
@SparhawkSoftware If you could give me access and push your branch exactly as is I can take a look and see what's going on so we nail this down.

[2016-09-17 19:48] dcristoloveanu commented on #10
Based on the above from @chrit-msft I understand that the problem was that the sample was only listening to partition 0.
Essentially if listening to all partitions is needed then one would need to spin as many receivers as the number of partitions.

If you get to implement this feel free to open a PR with a new sample showing this and I can merge it in.

[2016-09-17 20:16] SparhawkSoftware commented on #13
You should have access.

[2016-09-17 20:27] dcristoloveanu commented on #13
Ok, got it. I assume this would be the master branch on your fork.
I'll try that with a SB queue.
In the meanwhile if you can e-mail me (dcristo@microsoft.com) an endpoint for a broker that you use I can try against that directly also.

Thanks for the patience on this.
/Dan

[2016-09-19 07:00] dcristoloveanu commented on #13
@SparhawkSoftware
I reproed the issue with your branch (happens with the broker you gave me and no memory tracing).
It was a wrong double free which was not manifesting with the memory tracing.
The offending line is link.c, ln. 346 in your branch.

This has been fixed on Aug 9 per git log.

I can also see that your fork and branch are not using the latest changes I pulled in from you for the opens

[2016-09-19 08:10] SparhawkSoftware commented on #13
It works.
I thought I had pulled the latest but I had only done it for the azure-c-shared-utility.
Thanks for your assistance.
I found a memory leak in my OpenSSL changes which I push shortly.

[2016-09-19 08:10] #13 closed

[2016-09-19 16:32] dcristoloveanu commented on #13
Cheers! Glad it works.
If there's anything else of course just open a new issue.
/Dan

[2016-09-19 16:33] dcristoloveanu commented on #10
@chrit-msft I'm going to close this, feel free to open a PR with the new sample when you get to it.

[2016-09-19 16:33] #10 closed

[2016-09-19 19:09] SparhawkSoftware opened #20 "Multithreaded Usage"
What recommendations are there for using this library from multiple threads?
e.g. one connection - one thread? one thread per process? one message_sender per thread?
Looking at the code it does not look thread safe.

[2016-09-20 02:44] dcristoloveanu commented on #20
@SparhawkSoftware
Hi Randy,

There are no thread safety guarantees for the same object being used from multiple threads (for example connection/link, etc.).
Thus if there is at least one byte shared between 2 threads, there must be locking implemented in the caller (user code) to handle that.

However 2 different objects that do not share memory (for example 2 connections and all objects built on

[2016-09-20 02:54] SparhawkSoftware commented on #20
I understand that the lack of synchronization is technically a feature for low end systems.
I just wanted to understand what I need to synchronize.

You answer appears to be:
1) Ensure platform_init() and platform_deinit() are called once;
2) Add one mutex for each connection which is used for all sessions/links created on that connection.

Is that correct?

[2016-09-20 03:07] dcristoloveanu commented on #20
1) Yep.
2) I believe we're saying the same thing, just want to repeat so we're sure. If you have 2 message_sender objects on the same connection you would need to lock at the message_sender API, wrapping messagesender_open, messagesender_close, messagesender_send. If you operate directly with links (unlikely) then you would need to wrap the link APIs with a mutex.

Additional thing to take into ac

[2016-09-20 21:11] alfintatorkace opened #21 "problem sending messages with group-id set using amqp"
I modified the message_sender and message receiver samples to try to set/send and receive/get the group_id (SessionId in service bus explorer).

If I send a message to my queue with service bus explorer while setting SessionId field, I can run message_receiver_sample, receive messages and get the SessionId by using properties_get_group_id.

If I try to use properties_set_group_id in message_sender

[2016-11-03 04:13] #20 closed

[2016-11-03 04:19] SparhawkSoftware opened #22 "IOP Problems with ActiveMQ 5.14.1"
I get this error when receiving messages from ActiveMQ:

azure-uamqp-c\src\link.c Func:_link_frame_received Line:323 Could not get the more field from the transfer performative

Note that the same version of ActiveMQ worked fine with an earlier version of uAQMP so whatever is going wrong is related to changes in the uAQMP library.

The headers in the message are as follows:

message-id: 1234567890

[2016-11-04 03:57] dcristoloveanu commented on #22
@SparhawkSoftware Looking at this.

[2016-11-04 04:02] SparhawkSoftware commented on #22
Samples that replicate the problem can be found here:
https://github.com/SparhawkSoftware/UA-AnsiC

prototyping branch
prototypes/amqp

[2016-11-04 05:03] dcristoloveanu commented on #22
This was recently introduced indeed (apologies), a fix has been submitted to the develop branch so that the more flag is optional (as it should be per spec).

Please reopen this if there are any issues with the fix.

[2016-11-04 05:03] #22 closed

[2016-12-12 09:43] nicolodanzi opened #23 "CPU usage in IO operations"
I noticed that in the samples all IO operations (connection, send a message, authenticate, create message sender) are performed by a "connection_dowork" function that schedules the internal operations. This function is always enclosed in an endless while loop that breaks because of the flags set by the callbacks.

The drawback of this pattern is that each operation performed by the "connection_dow

[2016-12-21 01:23] dcristoloveanu commented on #23
Hi @nicolodanzi,

Sorry for the delay, vacation times take the toll ...
The only model available now is indeed that the user schedules when the library performs the needed work (which is typically a loop with some yield (sleep)). This works quite OK for various embedded environments since it requires (almost) no porting.

The alternative of using a select like mechanism came into discussion severa

[2016-12-21 14:04] rulez85 opened #24 "Use uamqp with no-microsoft brokers"
Hi all!

I'm trying to use azure-uamqp-c with an Apollo broker ([https://activemq.apache.org/apollo/](https://activemq.apache.org/apollo/)) running on my machine.

First question: is this even possible?

If this is the case, I'm unable to find the right way to set the parameters for the amqp connection.
I was able to create a simple working example in C# by using the AMQP.Net Lite library (https:/

[2016-12-21 23:26] dcristoloveanu commented on #24
Hi @rulez85,

From what I can see "queue://testQueue" is the target address for the sender link.
In uamqp, one can set the source and target address when the link is created (similar to what is done in the message_sender sample).

		AMQP_VALUE source = messaging_create_source("someLocalSourceAddress");
		AMQP_VALUE target = messaging_create_target("queue://testQueue");
		link = link_create(session

[2016-12-22 14:33] rulez85 commented on #24
Thanks for your fast reply!

I tried to set "queue://testQueue" in the target address of the sender link but it didn't work.

Here is the code:
[code]
The main problem is that I cannot find a way to catch error in the while loop after message sender open.
No callback is called during the while loop. Is there a way to know that message sender cannot be opened with these parameters?

Thanks in advan

[2016-12-22 14:56] ppatierno commented on #24
I'm not an Apollo expert and a uAMQP as well but I know the AMQP protocol :-) ...
What I see here is that you are setting a TLS layer but then connecting to a NON TLS port (the default 5672) on Apollo.
Can you catch the AMQP traffic using WireShark just to understand if something happens during the TLS handshake or if it works where is the problem in the AMQP messages exchange.

[2016-12-23 13:09] rulez85 commented on #24
Hi @ppatierno!
You are right (even if I think it is a problem not to have a way to break from the while loop).
I changed my code using SOCKETIO_CONFIG instead of TLSIO_CONFIG (copying from uamqp example "local_client_sample"):

[code]

but now I get the following error occurring in the calls to the connection_dowork method in the while loop:

`Error: Time:Fri Dec 23 14:02:21 2016 File:C:\Dev\Third

[2017-01-04 05:17] acartcat commented on #24
Hi,
   I had a similar issue trying to connect to the Apache Qpid C++ broker.  I used the develop branch but the OPEN was still failing on the call to open_get_max_frame_size in connection.c.  After looking at your code in amqp_definitions.c I added the check for AMQP_TYPE_NULL in the open_get_max_frame function and all is working fine.

Cheers

[2017-01-04 05:22] acartcat commented on #24
[code]

[2017-01-06 17:37] #23 closed

[2017-01-06 18:13] dcristoloveanu commented on #24
@acartcat

Thanks for the change, in the process of integrating it.

Cheers,
/Dan

[2017-01-06 19:30] dcristoloveanu commented on #24
This has been checked in into develop.

Thanks again!
/Dan

[2017-01-06 19:30] #24 closed

[2017-01-09 18:38] dcristoloveanu commented on #21
Hi @alfintatorkace

Sorry for the extremely big delay in the reply.
I just tried setting group-id and reply-group-id on messages sent to a queue and that did work (as in it shows up in SB Explorer). I simply used

                properties_set_group_id(properties, "DEADBEEF");
                properties_set_reply_to_group_id(properties, "DEADBEEF");

I noticed however that the SB Explorer listene

[2017-01-09 18:38] #21 closed

[2017-01-11 16:09] alfintatorkace commented on #21
Hi Dan,

It’s been a while, and on to other projects, but we eventually ended up using qpid_proton stuff which just worked.

The issue I was seeing was when I added these properties in SB Explorer I was able to send/receive them in SB Explorer.
When I sent them using the modified amqp samples, I could see them in the queue, but I was not able to receive them with either SB explorer or the modified

[2017-01-17 19:00] damonbarry opened #26 "Fix clang warnings"
If I try to build azure-uamqp-c with clang, I get lots of warnings (and if I fix some of them, more appear).

azure-uamqp-c should compile cleanly with clang.

[2017-01-17 19:47] dcristoloveanu commented on #26
@damonbarry I'll have a look at this shortly.

Thanks,
/Dan

[2017-01-18 21:38] dcristoloveanu commented on #26
A fix has been checked in to the master branch.

[2017-01-19 13:46] ndanzi opened #27 "Big sized messages and settled_mode"
Hi all,

I'm trying to send a message with a payload of 5mb to an IoTHub.
The library tells that the message has been sent successfully and no error is flagged in any callback. But the server does not receive the message because of its limitations (messages bigger then 64kb are dropped by the server).
I set
[code]
I supposed that the option `sender_settle_mode_settled` should force the library to

[2017-01-19 23:21] dcristoloveanu commented on #27
Hi @ndanzi,

Setting sender_settle_mode_settled means that the transfers are considered by the sender to be settled.
AMQP spec section  2.8.2 states:

2.8.2 Sender Settle Mode
Settlement policy for a sender.
<type name="sender-settle-mode" class="restricted" source="ubyte">
<choice name="unsettled" value="0"/>
<choice name="settled" value="1"/>
<choice name="mixed" value="2"/>
</type>
Valid Values

[2017-01-20 08:53] ndanzi commented on #27
Thank you for the reply.

I mistakenly got it backwards: with unsettled mode now actually the client fails sending the message.
In this way I am able to catch the delivery state of the message.

For uamqp I used the Release 2016-11-17 with some paches (in order to make it work on windos ce 6.0).
I also applied the fixes of [Address Issue #24: default values for fields if they are NULL and hav…](ht

[2017-01-20 08:53] #27 closed

[2017-01-23 17:30] #26 closed

[2017-03-02 12:20] mario19911 opened #29 "Error with empty Max-Frame-Size"
Hey guys,

according to the AMQP specifiction (http://www.amqp.org/sites/amqp.org/files/amqp.pdf) at page 54, the field max-frame-size is not mandatory. In that case the AMQP-Type NULL is used for the transmission of this value. However, the function get_max_frame_size in amqp_definitions.c returns an error in that case.

I think the if statement should be the other way round: when the type is NUL

[2017-03-03 00:25] dcristoloveanu commented on #29
Hi @mario19911

You are perfectly right, will have a fix for this very soon.

Thanks,
/Dan

[2017-03-03 06:22] mario19911 opened #30 "Missing initialization of connection->last_frame_received_time"
Hey Guys,

I think found another small issue in connection.c. In the function connection_handle_deadlines, the time until the configured idle timeout expires is calculated from the current milliseconds and connection->last_frame_received_time. The problem is that connection->last_frame_received_time is not initialized in connection_create2 which results in "No frame received for the idle timeout"

[2017-03-03 06:50] dcristoloveanu commented on #29
Hi @mario19911,

A fis is on the way in PR #31.

Thanks,
/Dan

[2017-03-03 06:50] dcristoloveanu commented on #30
@mario19911 Will have a look at this one too shorty. Stay tuned.

[2017-03-03 07:14] dcristoloveanu commented on #30
@mario19911 Btw, if you already have the fix, feel free to fire a PR and I'll review and merge in if OK.

Thanks,
/Dan

[2017-03-03 08:29] mario19911 commented on #30
@dcristoloveanu I added a new pull request for this issue.

Best regards,
Mario

[2017-03-03 17:27] dcristoloveanu commented on #29
The fix has been checked in to master.

Thanks!
/Dan

[2017-03-04 05:37] dcristoloveanu commented on #30
@mario19911

I created PR #33 which initializes the last received frame time and last sent frame time with the value obtained from the tick counter.

Thanks,
/Dan

[2017-03-04 06:14] dcristoloveanu commented on #30
Hi @mario19911

I have checked in the fix to the master branch, can you please check if this resolves your issue?

Thanks,
/Dan

[2017-03-08 14:36] piotrzaremba opened #39 "Publishing Performance"
I clone the repo and built the lib according to the defined guidelines.
I took the send sample and broke it out into individual methods init(), send(), dispose().
The init() sets up the connections.
The send() sends a message.
The dispose() cleans up.
I then wrote a c++ library that wrapped the c code and tried to publish 100 messages using a single send() not a batch send() non async for either s

[2017-03-08 15:38] ndanzi opened #40 "catching wrong parameters error using websockets"
Hi all,

I'm trying to use amqp over websocket exploiting the example provided in this lib. I am able to connect and send messages to my IoTHub broker with this protocol.
I did't chenge the parameters for
`WSIO_CONFIG ws_io_config = { IOT_HUB_HOST, 443, "AMQPWSB10",  "/$iothub/websocket", true };`

Firstly I was wandering the meaning of these parameters and if they can be used also for communicati

[2017-03-08 19:31] piotrzaremba commented on #39
I forgot to post the following information.  I am making hopes from my local LAN to Azure.  The application I am running is not hosted in Azure yet, which would cause some latency.  When I use the .Net client I am double the speed so 40 messages per second.

[2017-03-09 00:25] dcristoloveanu commented on #39
Hi @piotrzaremba,

Could you attach a log and if you can also the piece of code that you use? You should remove any credentials or sensitive data from it of course.

I ran the sender sample against an EH and it sent ~ 400 msgs/s.

![image](https://cloud.githubusercontent.com/assets/8507399/23730238/475dfb52-041b-11e7-817e-70d97614d8b8.png)

But the sample does not send the messages one by one.
Can

[2017-03-09 00:32] dcristoloveanu commented on #40
Hi @ndanzi,

There should not be a crash even if the arguments are bad. Can you please help us fix this with the following items:
- Can you provide the code repro? If you need to blank out credentials that is fine, just let me know what to run against.
- Do you have a call stack?

Thanks,
/Dan

[2017-03-09 15:25] ndanzi commented on #40
Here's the code that causes the crash:

[code]
The call stack is too long (probably due to an internal loop). The SEH exception in thrown in line 106 of xio.c file

thank you
Nicolo'

[2017-03-09 16:42] piotrzaremba commented on #39
Hey @dcristoloveanu,

Sorry for the confusion, it was a late night for me.  To answer your initial question.  Yes I am sending a single message at a time at the moment, I am not batching messages.  I assume my performance issues are due to the fact that I am not batching messages and network latency and hopes.  I do not have an express route to Azure.

[code]

[2017-03-13 00:10] dcristoloveanu commented on #39
Hi @piotrzaremba,

I had a quick look at the code you posted and it seems that it is like you mentioned. Since you send a message and wait for it to be confirmed this will heavily depend on the ping time. So at a roundtrip time of 20 ms, the max you would send is 50 msgs/s.

The interesting part is this:
"When I use the .Net client I am double the speed so 40 messages per second."

A couple of thi

[2017-03-13 00:12] dcristoloveanu commented on #40
@ndanzi

Is the callstack around close being called over and over again?
I suspect this is due to a bug that we knew about in the wsio implementation around WebSocket close.
We have recently (around one week ago) fixed several issues in the wsio implementation.

Can you let me know what is your commit hash so that I can see if you are using the code before or after the fix?

Also if you could post

[2017-03-13 00:13] #30 closed

[2017-03-13 00:13] #29 closed

[2017-03-13 11:37] ndanzi commented on #40
I'm using the latest release (2017-01-20). Here you find the top frames of the callstack:
[uamqpWsStack.txt](https://github.com/Azure/azure-uamqp-c/files/838037/uamqpWsStack.txt)

Thank you
Nicolo'

[2017-03-14 05:43] dcristoloveanu commented on #40
@ndanzi This issue has already been fixed in C shared utility, in wsio.
Can you please give the latest master a try and confirm that the problem is fixed for you?

Thanks,
/Dan

[2017-03-15 14:37] ndanzi commented on #40
The latest master fixed the problem.

Thank you
Nicolo'

[2017-03-15 14:37] #40 closed

[2017-03-15 15:11] ndanzi opened #51 "Infinite loop using websockets"
Hi all,

I'm tying to send 100 messages to my apollo broker. Each iteration my client performs: SSL initialization, connection to broker, disconnection from broker. The connection is over websockets and SSL.
The problem is that at a random iteration, the program stucks during the do_work while loop.
Without websockets, the problem does not appear.
I'm using the latest master.
Here is the code that

[2017-03-15 21:33] dcristoloveanu commented on #51
@ndanzi Thanks for the report, will have a look shortly.

[2017-03-17 05:38] dcristoloveanu commented on #51
@ndanzi

I was in the process of completely switching from lws to our uws_client implementation that is smaller as footprint (even though it does not have all the lws features) and it allows us to use the same code on various RTOS devices and other OSs.

This is now checked into master. Dur to this significant change, could you please give it a try and let me know if the issue still appears for yo

[2017-03-20 08:54] ndanzi commented on #51
I tried the library with the new uws_client implementation but I get an error when I create the `ws_io` with `xio_create`. I set the same `WSIO_CONFIG` parameters of the ws sample, but the result of the xio_create is NULL.
[code]
The point in which the result is set to NULL is in line 351 of uws_client.c. This is due to the fact that the io_interface is set to NULL as shown in the sample.
Is the s

[2017-03-20 22:52] dcristoloveanu commented on #51
@ndanzi Seems like this is a miss in the sample, will fix this real soon.

[2017-03-21 04:22] dcristoloveanu commented on #51
@ndanzi I filed a PR#57 to update the websockets sample, so feel free to take a look at how to setup the underlying IO for fields. This should be checked into master soon.

Let me know if it works for you.

Thanks!
/Dan

[2017-03-21 14:32] ndanzi commented on #51
Thank you,
now, with uws_client, uamqp doest not stuck anymore using websockets with right connection parameters.
But I have an unexpected behaviour when I try to set `wsio_config.resource_name = ""`.
I excpected that a callback was called with an error report. But I have instead an infinite loop on `connection_dowork` when it tries to send the message. No callback is callend by the `connection_do

[2017-03-21 21:14] dcristoloveanu commented on #51
Hi @ndanzi,

I had a quick look at this and the error does get bubbled up to the level of CBS. The cbs_on_open_complete callback indicated whether the open completed succesfully or not.

![image](https://cloud.githubusercontent.com/assets/8507399/24170931/c174e0b2-0e3f-11e7-9596-65adfc97e71a.png)

The logging in that callback was always printing "CBS open" (erroneously). I updated the sample to ac

[2017-03-21 21:37] ndanzi commented on #51
Ok thanks, but I have this behavior also with sasl plain authentication, as shown in the code example posted before

Thank you
Nicolò

[2017-03-21 22:35] dcristoloveanu commented on #51
Hi @ndanzi

In order for messagesender to notify of the open errors, you would need to pass a callback that indicates message sender state transitions. Then you can decide based on that state whether there was an error or not.

[code]

The messagesender creation is the point where the callback has to be given to messagesender:

[code]

HTH,
/Dan

[2017-03-27 03:22] dcristoloveanu commented on #39
Hi @piotrzaremba

I assume your issue is resolved as there has not been any recent update.
If that's not the case feel free to let me know and I will reopen the issue.

Thanks,
/Dan

[2017-03-27 03:22] #39 closed

[2017-03-28 17:30] dcristoloveanu opened #62 "TLS server IO in order to allow a server to use the TLS layer"
TLS server IO in order to allow a server to use the TLS layer

[2017-03-29 05:57] dcristoloveanu opened #64 "E2E test sending to an event hub"

[2017-03-29 05:58] dcristoloveanu commented on #64
It would be very nice to have an E2E test that sends at least one message to an event hub proving that this scenario still works for each build.

[2017-03-29 06:00] dcristoloveanu opened #65 "E2E test with raw client/server (both uAMQP) communication"
It would be very nice to have an E2E test that runs an uAMQP client and an uAMQP based server (both raw TCP) and checks that at least one message can be send both directions.

[2017-03-29 06:01] dcristoloveanu opened #66 "E2E test with IoTHub"
It would be very nice to have an E2E test that sends at least one message to an IoT hub proving that this scenario still works for each build.

[2017-03-31 02:44] dcristoloveanu commented on #65
This is done.

[2017-03-31 02:44] #65 closed

[2017-03-31 03:11] dcristoloveanu commented on #51
I assume you were able to solve your issue.
If not definitely let me know and open a new Issue.

Cheers,
/Dan

[2017-03-31 03:11] #51 closed

[2017-04-03 11:30] mario19911 opened #73 "amqpvalue_encode - AMQP_TYPE_FLOAT missing"
Hey guys,

I had some problems when I tried to encode a float with amqpvalue_create_float and figured out that the case statement for AMQP_TYPE_FLOAT is missing in the switch of the function amqpvalue_encode. Is this intended or an issue?

Best regards,
Mario

[2017-04-03 23:18] dcristoloveanu commented on #73
Hi @mario19911,

Thanks for reporting it, it is a miss, we'll definitely fix it.

Thanks,
/Dan

[2017-04-03 23:30] dcristoloveanu commented on #66
This has been implemented. Closing.

[2017-04-03 23:30] #66 closed

[2017-04-08 05:58] dcristoloveanu commented on #73
Hi @mario19911

PR #76 has been created to fix this and add float and double support. It should get checked in to master soon.

Thanks,
/Dan

[2017-04-10 06:56] mario19911 commented on #73
Hi @dcristoloveanu

depending on the platform, a float can be represented as little or big endian. Shouldn't there be a check about that to be platform independent? I got an example here:

static bool f_float32_litte;

void check_float (void)
{
  unsigned char * p_tmp;
  float test;

  test = 1;
  p_tmp = (unsigned char *)&test;

  if ((p_tmp[0] == 0x00) &&
      (p_tmp[1] == 0x00) &&
      (p_tmp

[2017-04-11 04:01] dcristoloveanu commented on #73
Hi @mario19911

AMQP uses network byte order so that machines that different endianess can talk to each other. By casting to uint32_t* and putting the high byte of the uint32_t value first the network byte order is achieved, so that should be fine.

The PR is now merged, could you please run this against your test to make sure the issue is fixed for you?
If not, of course I'll help fix it :-).

Th

[2017-04-11 06:57] mario19911 commented on #73
Hi @dcristoloveanu

I don't think that the problem of the endianess is solved with this implementation. When the float is internally represented as Big Endian, you still have the problem of a wrong byte order. In that case the order needs to be changed. Either you need a define for the endianess or you can check the order of the float bytes with the example above. Example 1 as float in Big Endian

[2017-04-15 19:01] dcristoloveanu commented on #73
@mario19911

The endianess applies to both uint32_t and float/double. So by casting to (uint32_t*) and using the 4 bytes as a 32 bit integer makes sure that the high byte of the uint32_t is the high byte of the float.
The code will put/get on the wire always the high byte of the uint32_t first (which is the high byte of the float).

To alleviate your concerns I made a rather simple test.
I fired u

[2017-04-18 04:17] dcristoloveanu opened #96 "E2E test for IoTHub should create a new device every time"
Currently the E2E test for IoTHub simply relies on using a certain device name.
That should be changed to create a device every time the test is run.

[2017-04-18 15:52] ewertons commented on #96
Does uamqp have E2E tests that connect to IoT Hub?

[2017-04-20 14:01] mario19911 commented on #73
@dcristoloveanu

in that case it worked since at the Big-Endian machine the float is also Big-Endian and on the Little-Endian machine it is Little-Endian. There are some processors (e.g. the ARM 7) where the endianess of the platform and the endianess of the float are different. There you would need to check separately, how the float is encoded before sending.

[2017-04-20 14:08] mario19911 opened #98 "Accessing information max-message-size"
Hey guys,

we are currently testing our usage of the implementation with the broker of opcfoundation-prototyping.servicebus.windows.net. In his attach message, this broker sends a max-message-size of 65536. When the sent data exceeds this value, an link-error "max-message-size-exceeded" should arise according to the AMQP specification. In that case it is necessary to implement a segmentation mecha

[2017-04-20 16:46] dcristoloveanu commented on #73
@mario19911

Interesting, I reopened the issue, let me look at the ARM7 case.

Cheers,
/Dan

[2017-04-20 18:46] dcristoloveanu commented on #98
Hi @mario19911,

I agree this should get exposed. I'll add a getter to link soon.

Thanks,
/Dan

[2017-04-20 18:46] dcristoloveanu commented on #62
A very shy first version of this has been checked in.

[2017-04-20 18:46] #62 closed

[2017-04-21 05:27] dcristoloveanu commented on #98
Hi @mario19911

I filed #100, as far as I understand this is what would help you to segment at the layer above link/message_sender.

Let me know if this would solve your issue.

Thanks,
/Dan

[2017-04-21 05:29] mario19911 commented on #98
Hi @dcristoloveanu

thanks this looks fine :) I will try it out as soon as possible.

Best regards,
Mario

[2017-04-21 05:49] dcristoloveanu commented on #73
Hi @mario19911

You are right that there are some cases where float endianess is different than integer endianess. Apparently there are some cases also where the 64bit double has the endianess of integers, but the 2 32bit values are stored in reverse order.

According to Wikipedia though these are very rare cases (https://en.wikipedia.org/wiki/Endianness#Floating_point):

"Floating point[edit]
Alt

[2017-04-21 05:51] dcristoloveanu commented on #98
@mario19911

Good to know this is what you were looking for. Once it's reviewed I'll commit it.

Thanks,
/Dan

[2017-04-21 08:05] mario19911 commented on #73
Hi @dcristoloveanu

with out platform there is no such problem, it is more a theoretical case. So for the moment it will work fine. We just wanted to mention this case if the stack needs to be implemented by somebody on such a machine.

Thanks,
Mario

[2017-04-21 18:12] dcristoloveanu commented on #73
@mario19911
Thanks for clarifying. I will mark this as an enhancement and keep the issue open as a rainy day project.

Cheers,
/Dan

[2017-04-21 18:14] dcristoloveanu commented on #98
@mario19911

The fix for this was checked in to master. Let me know if you still have any issues with this.

Cheers,
/Dan

[2017-04-21 18:14] #98 closed

[2017-05-16 06:45] mario19911 opened #113 "Error when connecting to Azure IOTHub"
Hey guys,

we currently try to connect to an existing device of our Azure IoTHub. Unfortunately we always get an error during the SASL authentication: in sasl.outcome the code field is set to 2 indicating a system error.

The sasl authentication looks like this:
     - Username: device@sas.root.IOTHUBCMIC.azure-devices.net
     - Password: SharedAccessSignature=SharedAccessSignature sr=IOTHUBCMIC.

[2017-05-17 09:39] mario19911 commented on #113
Hi @dcristoloveanu

thank you for your fast answer :) I still hat the same problem with the username of this form. The reason seems to be the usage of SASL PLAIN - when I use the MSSBCBS authentication method it works. Do you know if an IOTHub does not allow PLAIN?

Best regards,
Mario

[2017-05-18 04:32] dcristoloveanu commented on #113
Hi @mario19911,

I am sorry for giving you incorrect information earlier.
The username (authcid) in SASL_PLAIN for IoTHub should be
<deviceId>@sas.<iotHubName>

In your case that is
test-001@sas.IOTHUBCMIC

I just tested this and you are correct, having the fully qualified name does not work, while using the IotHub name only works fine.

Here is the documentation for it:
https://docs.microsoft.com

[2017-05-18 13:50] mario19911 commented on #113
Hi @dcristoloveanu

thank you very much, that worked perfectly fine :)

Just another question: in my Wireshark I recognized that the IOTHub does not send any "flow" message, is this an expected behaviour?

Best regards,
Mario

[2017-05-19 02:06] dcristoloveanu commented on #113
Hi @mario19911,

I believe IoTHub does send FLOW performatives (but when needed).
For example if I have 1000 transfers I do see a FLOW coming in:

![image](https://cloud.githubusercontent.com/assets/8507399/26230345/ff5ee72a-3bfc-11e7-8a64-1efc1785827e.png)

Can you paste the AMQP log/wireshark log in a new issues if this is a problem and I will have a look.

Cheers,
/Dan

[2017-05-19 02:06] #113 closed

[2017-05-19 06:05] mario19911 commented on #113
Hey @dcristoloveanu

currently there is no problem for us, I was just wondering because QPID always sends a flow after receiving a transfer. But in that case its ok :)

Thanks for your help!

Best regards,
Mario

[2017-05-23 23:56] ewertons opened #121 "Should cbs_destroy invoke callbacks of pending operations?"
If the put-token callback is accessing any memory that has already been freed, it can cause an A/V (obvious, obviously).
What do you think about the possible solutions for this scenario?
A. The upper layer has to then either wait for all operations to complete before destroying (not that cool), or
B. destroy cbs first and then free the memory accessed by the put-token callback (also not sure if th

[2017-05-23 23:58] ewertons commented on #121
By the way this can be verified today using azure-iot-sdk-c's samples.

ucrtbased.dll!0fbf3f7d() Unknown
  [Frames below may be incorrect and/or missing, no symbols loaded for ucrtbased.dll] 
  [External Code] 
  devicetwin_simplesample.exe!_vfprintf_l(_iobuf * const _Stream, const char * const _Format, __crt_locale_pointers * const _Locale, char * _ArgList) Line 639 C
  devicetwin_simplesample.ex

[2017-05-24 04:53] dcristoloveanu commented on #121
A. is the preferred solution.

All put_token or delete-token calls shall be indicated as completed somehow. This is for cleanliness of the async implementation.
cbs_destroy should indicate all put-token calls as completed with an ERROR.

All the other options I believe are worse.
B. seems to be an implementation details of A.
C. does not really change the issue as destroy could be called without u

[2017-05-24 04:53] #121 closed

[2017-05-30 04:21] dcristoloveanu opened #122 "VS2008 build does not run tests"

[2017-05-30 04:22] dcristoloveanu opened #123 "VS2008 build does not build the openssl adapter"
Currently the VS2008 build does not build with -Duse_openssl:bool=ON
This should be done in order to avoid errors on older compilers.

[2017-05-30 04:24] dcristoloveanu opened #124 "uAMQP should not run the tests of all submodules"
There is no need to run by default all the tests of all the submodules.
Thus it would be very nice to have a cmake option that would say run_all_tests.
If this options is OFF then run_unittests, run_int_tests and run_e2e_tests should be disabled before including any of the submodules. That way all the tests in ctest, umock, c shared utility et all would not be run unless explicitly asked for.

[2017-06-09 05:02] dcristoloveanu opened #129 "When SASL Mechanisms is sent with 1 SASL mechanism client fails"
saslclientio treats the sasl-server-mechanisms in the sasl_mechanisms performative as an array (mandatory).
That is not correct.

The field sasl-server-mechanisms is multiple symbol, so it can be simply one symbol.

[2017-06-12 05:47] dcristoloveanu opened #132 "header detect IO needs rewriting"
- With tests
- Multiple headers should be possible to be detected (SASL, AMQP). This is needed to implement SASL on server side.

[2017-06-12 05:49] dcristoloveanu opened #133 "A SASL server IO is needed"
In order to write tests for one SASL mechanism in the SASL init frame, a SASL server IO is needed.
This depends on header IO being rewritten first.

[2017-06-12 05:49] dcristoloveanu opened #134 "All tabs should be converted to spaces in the sources"
A minor thing, but should be done at some point.

[2017-06-12 05:50] dcristoloveanu commented on #122
It does now!

[2017-06-12 05:50] #122 closed

[2017-06-12 13:32] mario19911 opened #136 "XMPP implementation"
Hey guys,

this is not an issue, it is just a question :)

I saw that you were working on a small AMQP as well as a small MQTT (umqtt) implementation that can be used in embedded systems. I just wanted to ask you if you also developed such a library for XMPP?

Best regards,
Mario

[2017-06-12 19:48] #129 closed

[2017-06-12 20:21] dcristoloveanu commented on #136
Hi @mario19911,

We have not developed an XMPP library that uses the C shared utility PAL and its IO abstraction. Up to now this was not requested by anyone and it's not in the plan to be supported by any of the services around me (IoTHub, EH, etc.).

I am by far not an expert in XMPP. Seems like an implementation that uses XIO for the TCP/TLS binding should be doable, but honestly it is not on my

[2017-06-12 20:22] dcristoloveanu commented on #134
This has been done with #135.

[2017-06-12 20:22] #134 closed

[2017-06-12 20:22] dcristoloveanu opened #137 "VS 2008 build runs very slow (>5 minutes)"

[2017-06-12 20:29] dcristoloveanu opened #138 "AMQP array in amqpvalue needs unit tests"

[2017-06-13 10:31] mario19911 commented on #136
Hey @dcristoloveanu

thank you for your fast respond. We are currently discussing about additionally implementing XMPP to be used for IoT. Therefore I just was curious if there will be an implementation available :)

Thank your for your support :)

Best regards,
Mario

[2017-06-13 21:02] jebrando opened #139 "amqpvalue.c reports unnecessary error"
amqpvalue_get_sasl_mechanisms (Line 10167) attempts to get the array or symbol and will report an error even though the operation succeeds when the type is a symbol.

[2017-06-15 05:34] dcristoloveanu commented on #136
No worries, until next time @mario19911 :-).

[2017-06-15 05:34] #136 closed

[2017-06-15 05:34] dcristoloveanu commented on #139
@jebrando I'll take a look at a fix.

[2017-06-21 06:06] dcristoloveanu commented on #139
This has been fixed and integrated in master.

[2017-06-21 06:06] #139 closed

[2017-06-21 06:06] dcristoloveanu commented on #124
This has been done and checked in to master.

[2017-06-21 06:06] #124 closed

[2017-06-21 20:18] ewertons opened #142 "message_set_message_annotations() should validate if the AMQP_VALUE is of correct type"
This is regarding the need for calling amqpvalue_create_message_annotations before passing the AMQP_VALUE to message_set_message_annotations().

[2017-06-21 20:32] ewertons opened #143 "on_frame_received shall split the checks for name, role, source and target, and do not end session"
Each of these should give a different error message, and they should not terminate the SESSION.

			if ((attach_get_name(attach_handle, &name) != 0) ||
				(attach_get_role(attach_handle, &role) != 0) ||
				(attach_get_source(attach_handle, &source) != 0) ||
				(attach_get_target(attach_handle, &target) != 0))
			{
				end_session_with_error(session_instance, "amqp:decode-error", "Cannot get lin

[2017-06-21 22:04] dcristoloveanu commented on #143
Good point, let's split the error messages, I'll issue a fix for it.
With regard to ending the session, actually it seems we have to do it:

"When a session is unable to process input, it MUST indicate this by issuing an END with an appropriate error
indicating the cause of the problem. It MUST then proceed to discard all incoming frames from the remote endpoint
until receiving the remote endpoint

[2017-06-27 05:42] dcristoloveanu commented on #143
This is checked in.

[2017-06-27 05:42] #143 closed

[2017-06-27 05:43] dcristoloveanu commented on #142
Thanks for the report, a nice thing to have.

[2017-06-27 05:43] dcristoloveanu commented on #132
This has been done.

[2017-06-27 05:43] #132 closed

[2017-06-30 05:54] dcristoloveanu opened #148 "Remove usage of cstdbool in headers"
Because bool is a built in type in C++, it is not necessary to include cstdbool.

[2017-07-01 03:50] dcristoloveanu opened #151 "Composite type should have unit tests"
Composite type in amqpvalue should have unit tests (currently it is not covered).

[2017-07-01 03:51] dcristoloveanu opened #152 "Consider removing composite type from the typesystem"
Consider removing composite type from the typesystem, as a composite type is nothing else than a describe type with a list.

[2017-07-01 03:52] dcristoloveanu opened #153 "CONST_AMQP_VALUE"
It would be much nicer and cleaner to have an CONST_AMQP_VALUE module. This would be refcounted and read only.

That way any chances of modifying inadvertently underlying data due to having refcounting would not exist.

[2017-07-01 03:54] dcristoloveanu opened #154 "SASLclientIO should be cleaned up"
Many SASLclientIO unit tests are currently disabled.
Also some cleanup is needed in the spec of the module.

[2017-07-01 06:06] dcristoloveanu opened #155 "Usage of const AMQP_VALUE should be removed"
There are several places where const AMQP_VALUE is used. See amqp_frame codec for example.
These usages should be changed to AMQP_VALUE, as there is no meaning to applying const in this case.

[2017-07-07 07:21] Shakti213 opened #156 "Usage after free when link is detached or set to error state"
* OS and version used: Windows 10
* Version: master

# Description of the issue

In the event of a session going to either discarding or error state messages stored will be used after free and then double-freed. This can be seen by running the iothub_client_sample_amqp and disconnect the computer from network while the messages are being transmitted, but before they have been completed. The result

[2017-07-10 10:05] #156 closed

[2017-07-14 18:47] jspaith opened #161 "Please update setup docs to call out dependencies needed"
We recently tried to build uamqp (not full IOT C SDK client) on Win10 Bash (Ubuntu) but had to work through many dependency issues.

Could we update instructions to mention needing libssl-dev, libcurl-dev and libuuid-dev and anything else.  Presumably some step in setting up IOT Client (manual or automatic) or maybe just having an Ubuntu 16.04 VM handled right things vs Win10 Bash/Ubuntu combo?

[2017-07-15 09:03] #155 closed

[2017-07-15 12:18] dcristoloveanu commented on #161
Thanks for filing this. The dependencies are actually due to C shared utility. Nevertheless a one liner for Ubuntu with the sudo apt-get-install args would make it slightly smoother. Even better would be a link to the readme of C shared so that we don't maintain in uAMQP the dependencies of the PAL for various targets.

Will look into this as time allows.

[2017-07-15 12:20] dcristoloveanu commented on #148
This has been addressed.

[2017-07-15 12:20] #148 closed

[2017-07-17 18:15] VisSpatial opened #163 "small bug: azure-uamqp-c/src/amqpvalue_to_string.c line 244"
240         case AMQP_TYPE_LONG:
241         {
242             char str_value[21];
243             uint64_t value;
244             if (amqpvalue_get_ulong(amqp_value, &value) != 0)

line 244 above should be:
 if (amqpvalue_get_long(amqp_value, &value) != 0)

[2017-07-17 18:52] dcristoloveanu commented on #163
Thanks for reporting this, will issue a fix shortly.

[2017-07-18 03:25] VisSpatial commented on #163
Thanks for your response.

Just want to encourage the team that this little library is very much useful and highly effcient:

Compare to the .Net library which take a lot space for Nuget Packages (near 100MB?), xMB dlls, and annoying vhost.exe, this is so clean and light.

it truly represented the principle what IoT solution really need to be
(real time, light way, as what AMQP aimmed to as well).

[2017-07-18 07:31] dcristoloveanu commented on #163
Thanks for the props! Always glad to hear both about issues and happy users.
I'll make sure to send this to the team.

Cheers,
/Dan

[2017-07-18 07:31] #163 closed

[2017-07-18 07:31] dcristoloveanu commented on #163
A fix has been checked in.

[2017-07-18 07:32] dcristoloveanu commented on #154
This has been done and checked in.

[2017-07-18 07:32] #154 closed

[2017-07-18 09:08] dcristoloveanu opened #167 "amqpvalue_to_string does not print UUID"
Currently UUID values are simply skipped in amqpvalue_to_string. This is rather minor as it is only affecting tracing, but should be fixed nevertheless.

[2017-07-19 09:51] #161 closed

[2017-08-16 05:24] dcristoloveanu opened #174 "Uber header"
It would be nice to have an Uber header uamqp.h that includes all the other public API headers in order to:
- allow easier binding (for example for rust bindgen)
- allow users to include a single header and get access to all uAMQP functionality

[2017-08-20 23:34] jcwren opened #175 "connection_on_bytes_received() returning error"
When I try to run the message_sender_sample, I get the following error:
[code]
It does hang there, and the control-C is required to exit.

I believe I have the EH_* #defines set correctly. If I change the host name to something invalid, I get a connection ```getaddrinfo failure -5``` error (as expected). Unfortunately, changing any of the other three values don't cause a different error, so I can'

[2017-08-21 03:39] dcristoloveanu commented on #175
Thanks for reporting this, I accidentally broke the sample with my last commit by switching it to AMQP over raw TCP communication. Sorry about that.

PR #177 should address it, I am running it through the gated build as we speak.

Let me know if it fixes the issue for you and apologies.

Just FYI, trying to explain the amqps:// and sb:// :

amqps:// in the code is being used when creating the endp

[2017-08-21 03:43] dcristoloveanu commented on #175
@jcwren The commit fixing the sample is now in master.
Let me know if it works now for you.

[2017-08-21 14:44] jcwren commented on #175
That appeared to fix it. I still don't know enough about Azure to know how to go look at what it received from the sample (they seem to have made this insanely complex), but the message_sender_sample output indicates the messages were indeed pushed to the event hub.

Also, thank you for the explanation about the sb:// vs amqps://  prefixes. That was helpful.

[2017-08-21 21:18] dcristoloveanu commented on #175
Glad it worked, closing the issue.

For the receiver part, you basically have to attach a receiver link to a certain endpoint and then SB will push the events to you.

You can find some example on how to do this in the EH client for C receiver.
I believe the most interesting part for you is how to construct the endpoint.

https://github.com/Azure/azure-event-hubs-c/blob/master/eventhub_client/src/

[2017-08-21 21:18] #175 closed

[2017-08-21 21:18] dcristoloveanu commented on #174
This has been merged in.

[2017-08-21 21:18] #174 closed

[2017-09-14 07:38] mario19911 opened #178 "Missing timeout for messages"
Hey guys,

I think we figured out a problem when not all AMQP messages in the queue are acknowledged by a disposition frame.

Normally when the disposition frame arrives, the messages from the queue are freed. For the case that one disposition frame is missing (e.g. due to a broker error), these messages will never be freed and the memory remains allocated.

I think there should be a timeout for e

[2017-09-14 16:52] dcristoloveanu commented on #178
Hi @mario19911

Having a timeout for sending would be a nice feature. As a matter of fact all async APIs would deserve having a timeout.

The alternative here would be adding cancellation to the async APIs (like send/open). In that case the timeout can be measured by the user of the API as it wishes and the async operation can be cancelled cancelled at any point (for example when the timeout is de

[2017-09-15 08:59] mario19911 commented on #178
Hi @dcristoloveanu

thanks for your fast response. Just one more point I noticed regarding this problem: the timeout needs to be decremented in the context of the LINK_HANDLE with a tickercounter. Currently there is no cyclic function in the link that can be used for decrementing this timeout - I think the link needs to be extended with its own dowork method (but I got no idea if this idea fits in

[2017-09-27 05:44] dcristoloveanu commented on #178
Hi @mario19911

I just commited the addition of a timeout argument to link_transfer and to messagesender_send.
Please note that I renamed messagesender_send to messagesender_send_async and link_transfer to link_transfer_async (this is a minor change, but I wanted to give you a heads up).

Currently the messagesender_send_async just passes the timeout to link_transfer_async, so this can become inna

[2017-10-04 10:23] ndanzi opened #187 "Client sender handle idle timeout"
Hi,

I'm using your library for an amqp client with iothub.
When I have to send a message i build it and I call the `connection_dowork` function in order to process the message. When I receive the callback that the message has been sent, I exit the `connection_dowork` loop.
Then I wait for another message to be sent.

In this way I noticied that the idle timeout is not handled. No empty frame is s

[2017-10-04 10:52] ndanzi commented on #187
Another question: is there a callback that indicates that the white frame has been sent successfully by the client?

[2017-10-06 18:12] mario19911 commented on #178
Hello @dcristoloveanu

I will check that as soon as possible and let you know if there are any errors with that. Thank you for the fast enhancement!

Best regards,
Mario

[2017-10-12 03:58] dcristoloveanu commented on #187
Hi @ndanzi

Thanks for the issue and sorry for the delay on my side.
You are correct, the _dowork function does all the work that the library needs and it needs to be scheduled by the user whenever the user thinks it is appropriate.

Typically it is enough to have a thread that calls do work and yields for a couple of ms (1 ms might be too tight for you maybe you simply want to have it at 5 ms for

[2017-10-20 23:26] ewertons opened #188 "double free on message_sender if messagesender_send_async fails with SEND_ONE_MESSAGE_ERROR"
This was introduced by the recent changes regarding async operations in uAMQP.
It broke the reconnection logic in the Azure IoT C SDK.

**Using commit:** [master/10-20-2017](https://github.com/Azure/azure-uamqp-c/commit/5b3db494254b5b17ac4e7e4ceefc43150f7564b1)

**Repro steps:** same as in https://github.com/Azure/azure-iot-sdk-c/issues/251

**Root cause:**
The current implementation calls [remove

[2017-10-21 00:53] anhashia opened #190 "Make device side ping user configurable"
Currently it is set to **half** of what is sent by the AMQP broker in Open Frame

https://github.com/Azure/azure-uamqp-c/blob/5b3db494254b5b17ac4e7e4ceefc43150f7564b1/src/connection.c#L1589
remote_idle_timeout = (connection->remote_idle_timeout / 2)

Provide user configurable option so that user can set it other **ratio** if they don't like the default.

[2017-10-21 03:03] dcristoloveanu commented on #178
Closing as I assume this satisfies the needs for now. If not, let me know by simply opening a new issue.

Cheers,
/Dan

[2017-10-21 03:03] #178 closed

[2017-10-21 16:01] bloodwine commented on #190
This enhancement would be highly useful for scenarios where the devices are on an expensive metered connection (e.g. cellular).

This is the case of the project I am currently working on where we must **minimize bandwidth usage as much as possible** while sending infrequent telemetry events to the cloud and leaving the connection opened all of the time (to process cloud-to-device messages with a l

[2017-10-21 19:12] #188 closed

[2017-10-31 17:14] dcristoloveanu commented on #190
This is already checked in.

[2017-10-31 17:14] #190 closed

[2017-10-31 17:17] dcristoloveanu commented on #187
Marking this as enhancement for a way to get remote_idle_timeout.

[2017-10-31 17:18] dcristoloveanu commented on #167
This has been addressed.

[2017-10-31 17:18] #167 closed

[2017-11-09 13:08] ahmedawad1 opened #195 "Error in "session_destroy" in eh_sender_with_sas_token_sample"
Hi,
I tested "eh_sender_with_sas_token_sample" in samples and it is working fine and it sends to the Eventhub except when session_destroy(session) is executed, then the call back function "on_cbs_error" is executed and shows CBS error.

Please what is the reason for this error? I cannot understand it.

[2017-11-09 17:23] dcristoloveanu commented on #195
CBS uses 2 links (a sender link and a receiver link) to have a message request/response pattern which is then used to execute basic RPCs like put_token.

The working draft for CBS is here: https://lists.oasis-open.org/archives/amqp/201307/msg00002/amqp-cbs-v1.0-wd01_2013-07-08.pdf

Note that it has never been ratified, but since it is used in MS Azure services (EH, SB, IotHub), it is provided with

[2017-11-09 17:59] ahmedawad1 commented on #195
Thanks Dan for the reply. I actually tried to put cbs_destroy(cbs) before messagesender_destroy and it didn't work.
`cbs_destroy(cbs)`
` messagesender_destroy(message_sender);`
  `link_destroy(link);`
`session_destroy(session);`

I think also I tried to put it before session_destroy(session) and the same error appeared but I am not so sure so I will try it tomorrow and give you the feedback.
Thank

[2017-11-10 07:01] ahmedawad1 commented on #195
I tried it after link_destroy but the same error comes up!

[2017-11-13 07:32] dcristoloveanu commented on #195
Hi @ahmedawad1

I was able to repro this and indeed after adding the cbs_destroy the print with the error is still hit.
The reason is that CBS does not differentiate between an error and a regular close of the underlying message sender and receiver.

So it will treat this as an error and report it.
Essentially another callback is needed to indicate nicely a disconnect if the user needs to differen

[2017-11-13 07:32] dcristoloveanu commented on #195
Marking this as an enhancement to add a disconnect callback to CBS.

[2017-11-28 21:15] ewertons opened #197 "SEGFAULT on link_transfer_async when session_send_transfer fails with SESSION_SEND_TRANSFER_ERROR"
This issue was experienced using azure-iot-sdk-c (1.1.28).

Environment: Raspbian on Pi3 (Linux raspberrypi 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux)

Here are the repro steps:
1.	Run sample https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/iothub_client_sample_x509
- Sample was modified to send 5000+ messages, one per second (attached).
2.	Let th

[2017-11-28 21:20] ewertons commented on #197
Issue was root-caused to be in this code change: 34efcbb18d986ab48581499d0c87c82064830b36

[code]

[free(pending_delivery)](https://github.com/Azure/azure-uamqp-c/commit/34efcbb18d986ab48581499d0c87c82064830b36#diff-5a5d28d2861f956cd50a6b9e89e559d2R1252) should not be invoked (here and everywhere) since the deallocation is done through async_operation_destroy.

[2017-11-28 21:25] ewertons opened #198 "Add disconnection/reconnection E2E tests to uamqp"
Tests aim at preventing issues like https://github.com/Azure/azure-uamqp-c/issues/197

Tests must address scenarios using SAS and x509 authentication, as well as be set to run on Windows and Linux environments.
They shall be used to gate new commits, to ensure the product does not regress in terms or quality.

[2017-11-28 21:31] ewertons opened #199 "Verify free is not called wherever async_operation_destroy is used"
All c files where async_operation_destroy is used should be verified to make sure they are not calling free() on the async operation instances.

This is to address other potential issues like on #197 , introduced by https://github.com/Azure/azure-uamqp-c/commit/34efcbb18d986ab48581499d0c87c82064830b36

[2017-11-28 21:47] dcristoloveanu commented on #199
Thanks for reporting this, I'll double check the usage of ASYNC_OPERATION_HANDLE and let you know if any more issue lurks in there.

[2017-11-28 21:50] dcristoloveanu commented on #198
This is less about SAS and X509, but tests are needed for disconnect cases. This issue will be used to track adding disconnect tests. Other issues will be created to track adding unit tests to message sender/link.

[2017-11-28 21:53] dcristoloveanu opened #200 "message_sender unit should have unit tests"

[2017-11-28 21:53] dcristoloveanu opened #201 "link unit should have unit tests"

[2018-01-18 00:17] JetstreamRoySprowl opened #204 "Empty callbacks need commenting or integration into state machines"
[tls_server_io_schannel.c](https://github.com/Azure/azure-uamqp-c/blob/36394ddc757207c658a5ba875c8dc35cfe4254ba/samples/local_server_tls_sample/tls_server_io_schannel.c#L469),
[connection.c#L107),
[here](https://github.com/Azure/azure-uamqp-](https://github.com/Azure/azure-uamqp-c/blob/36394ddc757207c658a5ba875c8dc35cfe4254ba/src/connection.c#L107),
[header_detect_io.c](https://github.com/Azure/az

[2018-01-26 09:09] ahmedawad1 opened #206 "supporting EventData_Properties when transmitting to Eventhub"
Hi,

I am using "message_sender_sample" example to transmit to the Eventhub. However, in some other C- SDK which transmits to Eventhubs from Microsoft, exactly here-> "azure-event-hubs-c" SDK
[send.c](https://github.com/Azure/azure-event-hubs-c/blob/master/eventhub_client/samples/send/send.c)

Some features such as `EventData_Properties(eventDataHandle);`  at line116 in the send.c code in link abo

[2018-02-06 17:20] dcristoloveanu opened #207 "When Disposition is Rejected no callback is fired by the message_sender"
When Disposition is Rejected the information should be bubbled up to the message sender, which in turn should call the user callback with an ERROR code.

[2018-02-06 17:26] dcristoloveanu opened #208 "AMQP management does not bubble up the message handle for the response"
Giving the message handle to the user is the easiest way to expose all what is needed for parsing the response information.

Thus the callback for execute operation complete should be:

typedef void(*ON_AMQP_MANAGEMENT_EXECUTE_OPERATION_COMPLETE)(void* context, AMQP_MANAGEMENT_EXECUTE_OPERATION_RESULT execute_operation_result, unsigned int status_code, const char* status_description, MESSAGE_HANDL

[2018-02-06 17:27] dcristoloveanu commented on #208
Labeled as bug since it blocks building other AMQP management operations than CBS.

[2018-02-06 17:32] dcristoloveanu commented on #206
@ahmedawad1 Sorry for the delay in the reply.

uamqp does not implement the EH properties, since it is a general purpose AMQP library.
However EH properties are encoded as application properties and that means basically building an AMQP map with amqpvalue_create_map and adding the values to the map. Then this map can be passed as application properties to the message.

In the EH SDK for C repo the

[2018-02-07 07:50] ahmedawad1 commented on #206
Thanks very much Dan! I used it actually and when I activated the message-sender trace, it pasted on the screen the application properties.

[2018-02-07 07:50] #206 closed

[2018-02-08 21:00] dcristoloveanu opened #210 "AMQP management module should use statusCode and statusDescription"
AMQP management module should use statusCode and statusDescription. Also in order to allow CBS to function, because CBS uses different key names, we need to provide setters to override these values.

[2018-02-08 23:32] #208 closed

[2018-02-09 00:26] #210 closed

[2018-02-16 00:25] dcristoloveanu commented on #207
It turns out the issue here was for amqp_management.c amqp_management would not pass an on_send_message_complete callback to messagesender_send_async which would mean that a Rejected Disposition will not bubble up the error.

[2018-02-16 00:25] dcristoloveanu commented on #207
#214 addresses the issue.

[2018-02-20 12:21] jkriba opened #215 "Request for the Server SideBroker"
Hi
  Can you please let us know the availability of the Server Side Broker for this particular Component as mentioned in the documentation as,

"The server side support of uAMQP (for example for SASL) is currently work in progress." thanks

Regards
JK

[2018-02-21 13:43] alepez opened #216 "decode_ssl_received_bytes: Conditional jump or move depends on uninitialised value"
Hi,
I've just hit this error. I'm using valgrind to debug memory access. I'm using https://github.com/Azure/azure-event-hubs-c that depends on this project (https://github.com/Azure/azure-uamqp-).

Valgrind finds an error: "Conditional jump or move depends on uninitialised value(s) ". This is the backtrace:

[code]

At this point I don't know if this is actually an issue. But it may be.

[2018-02-21 17:19] jspaith opened #217 "uamqp crashes on multiplexing tests"
REPRO STEPS:
git clone https://github.com/Azure/azure-iot-sdk-c/ on commit id#8883cde388812fbf4fa9cc6f5ee9a020fdb4423a
build iothub_client\tests\iothubclient_amqp_modules_device_method_e2e (this is on Windows 10 64bit but seems not device specific)
run the exe
get a crash

The repo this is running against is for bringing up modules e2e.  Modules from uamqp perspective are just different URI's pass

[2018-03-06 04:48] dcristoloveanu commented on #216
Hi @alepez

Thanks for reporting this and sorry for the delay, I was out of office for the past days.
Which sample from the event hubs C SDK have you run, so that I make sure I repro the same?

At the moment I will assume it is the send sample and will try to repro with that.

Thanks,
/Dan

[2018-03-08 05:34] dcristoloveanu commented on #217
Thanks for reporting this, you are right it seems the indicate_all_messages_as_error should come before the set_message_sender_state. Let me attempt at a fix.

Thanks,
/Dan

[2018-03-08 06:27] dcristoloveanu commented on #217
Here are my notes:
- uAMQP indicates a state change for the sender to the user by calling on_message_sender_state_changed.
- The user is the C2D methods in AMQP transport. The C2D module decides to report this up to the transport as an unsubscribed event.
- The transport decides to do an unsubscribe (to cleanup things)
- Unfortunately unsubscribe goes and kills the message sender object (still in

[2018-03-08 06:31] dcristoloveanu commented on #207
This issue has been fixed and it is checked int into master.

[2018-03-08 06:31] #207 closed

[2018-03-15 21:26] dcristoloveanu commented on #215
Hi @jkriba

Sorry for the delay on replying.
The current state is a bit better than some time ago.

There is a socket_listener interface for the server portion and there is a loopback test that runs during the gated builds. This is raw TCP.

The TLS portion for the server side though is not there.
Regarding SASL, there is now a sasl_server_mechanism interface, but the sasl_server_io is not yet the

[2018-03-30 16:47] annatisch opened #226 "Certificate verify failed"
Hello,

We are seeing the following errors when trying to run on Ubuntu 16.04.2 LTS with OpenSSL:
uamqp.c_uamqp : b'error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed'
uamqp.c_uamqp : b'Closing tlsio from a state other than TLSIO_STATE_EXT_OPEN or TLSIO_STATE_EXT_ERROR'
uamqp.c_uamqp : b'AMQP management instance not open' (b'./src/vendor/azure-uamqp-c/src/amqp_man

[2018-04-03 03:20] dcristoloveanu commented on #226
Hi @annatisch

The issue you are encountering is I believe because the openssl adapter in C shared (tlsio_openssl) is not calling SSL_CTX_set_default_verify_paths.

Since many distros used in IoT environments do not contain uptodate certs anyway, the certs were typically passed explictly to the openssl instance rather than relying on the OS to have them.

I do see how in your case you would want t

[2018-04-03 13:27] annatisch commented on #226
Thanks @dcristoloveanu!
I believe it must have been an invalid cmake config on my part. Not quite sure how but I've just cleaned out my bindings and rebuilt everything and it seems to be working now :)

[2018-04-03 13:27] #226 closed

[2018-04-19 18:03] annatisch opened #228 "connection stops receiving messages after a link closes"
Hi there,

I'm running into some interesting behaviour and would like to confirm whether the scenario I've implemented is actually intended to be supported.

I have two message receivers running against two partitions in an event hub. They are running simultaneously and asynchronously, and they share a single CBS session and connection.

If one of these two receivers runs out of messages, it will

[2018-04-19 20:32] annatisch commented on #228
On further digging in the trace logs, I have further details.
When my client closes, it sends the detach frame as expected:
'-> [DETACH]* {2,true}'

However, by the time it receives the corresponding detach from from the service, the link endpoint has already been removed. Therefore, the session detects as error:
<- [DETACH]* {2,true,NULL}
-> [END]* {* {amqp:session:unattached-handle,}}
<- [END]*

[2018-04-19 20:54] annatisch commented on #228
Okay, so I tried commenting out this line and replacing it with a log message to ignore a DETACH frame from a link endpoint that has already been removed:
https://github.com/Azure/azure-uamqp-c/blob/master/src/session.c#L469

However this still doesn't completely solve the issue - because it is possible to receive additional TRANSFER frames from the detaching link in between when the DETACH frame

[2018-04-19 21:47] dcristoloveanu commented on #228
@annatisch I think it should be possible to reject the transfers for a link that has been removed.
Btw thanks for looking at this, will also take a closer look at it shortly.

Thanks,
/Dan

[2018-04-23 17:02] annatisch commented on #228
Thanks @dcristoloveanu  - it's possible a better fix for this would be to simply not remove the link endpoint until either the DETACH frame has been received or the session is closed for other reasons.

[2018-05-09 18:05] annatisch opened #231 "Handling AMQP redirect"
We have a need to support AMQP redirect. It seems a redirect response can occur either at the connection level or the link level, as documented here:
http://docs.oasis-open.org/amqp-bindmap/amqp-wsb/v1.0/cs01/amqp-wsb-v1.0-cs01.html#_Toc461801619
http://docs.oasis-open.org/amqp-bindmap/amqp-wsb/v1.0/cs01/amqp-wsb-v1.0-cs01.html#_Toc461801620

I'm not sure what the best approach is here, either for

[2018-05-15 03:45] dcristoloveanu opened #233 "amqp_definitions.c and .h should have a comments that they are generated"

[2018-05-15 04:13] dcristoloveanu commented on #228
Hi @annatisch

I finally got to this one, sorry for the delay (other tasks prevented me from actually looking at these issues).

I think the core of the issue is actually the fact that link_destroy is not an async call, it is an immediate destroy. On the wire however the detach is only complete when the counterpart DETACH is received.

Ideally messagesender_close should be an async call where the

[2018-05-15 05:42] dcristoloveanu commented on #233
PR #235 has been filed.

[2018-05-15 05:44] dcristoloveanu commented on #231
Hi @annatisch

I'll look at this right after fixing the issue of links being inadvertently destroyed when one link is destroyed on the same session.

There were several prior discussions on the need to add redirect so we were fully aware this will pop up at some point. Now seems the time to do it :-).

Thanks!
/Dan

[2018-05-15 05:49] dcristoloveanu commented on #228
Test for this has been added and it is disabled as it fails.
After thinking about this just a bit more I believe we will anyhow need to handle the case when a link is destroyed without nicely waiting for it to detach.
In this case the other links on the same sessions should not be affected anyhow.

Thus it means we should track the fact that the link is detaching and basically reject the transfer

[2018-05-15 14:48] annatisch commented on #228
Awesome - thanks so much for taking a look! :)

[2018-05-15 14:48] annatisch commented on #231
That sounds great - thanks! Let me know if there's something I can do :)

[2018-05-16 16:41] annatisch commented on #228
Thanks @dcristoloveanu - I've tried it out and it seems to be working successfully :)
I tested with a variety of prefetch settings and seems to work regardless of the messages received in between when DETACH is send and received. Great stuff!!

[2018-05-17 06:16] dcristoloveanu commented on #228
PR #236 has been filed for this. I'll merge it in once it is reviewed.
Thanks for the validation!

[2018-05-18 14:48] ahmedawad1 opened #237 "removing absolute paths from the compiled libs (libuamqp.a & libaziotsharedutil.a)"
Hi Everyone,

it is pretty easy to compile these libs but I have a little issue. When I link my code with the static libs (libuamqp.a & libaziotsharedutil.a) and if an error happens, then I get the absolute path where I originally compiled them. for example:

`Error ...........:/home/my_host_name/azure-uamqp-sources/azure-uamqp-c/src/sasclient.c`

I want when such an error appears on the console,

[2018-05-21 20:19] annatisch commented on #231
@dcristoloveanu - just wondering what you think the timeline might look like for this.
I'm hoping to put a new release of the Python bindings out beginning of next week (week of the 28th) and would like to hold off until this fix is included if possible.
Or do you believe this will likely be quite involved?

Thanks!

[2018-05-22 20:07] dcristoloveanu commented on #231
Hi @annatisch

I had a quick look at what I think should be done:

Redirect at connection level:
The information with the hostname/port has to be bubbled up to the user code that created the IO used by connection. Connection itself has no knowledge of how to setup the IO and what its parameters are. So the way to go is to indicate to the user the fact that a redirect is needed and a new connection

[2018-05-22 20:31] annatisch commented on #231
@dcristoloveanu - awesome, thanks for the investigation!
That event mechanism sounds mint. Definitely looking forward to that (both short and long term versions)

Regarding which of the two redirects is a priority is a bit of a gray area that I'm hoping @digimaun can clarify for me.
My understanding is that IotHub actually raises a link:redirect, however the contents of the redirect is a new hostn

[2018-05-22 21:27] digimaun commented on #231
Thanks for bringing me in @annatisch.

Yes for certain operations, IoTHub accepts the connection but raises an amqp:link:redirect with payload containing the proper eventhub namespace host (and an amqps endpoint) backing the IoTHub.

Providing a mechanism that allows the uamqp user to catch a redirect event with the critical details would be enough to fulfill my use case. I would then handle it in

[2018-05-23 21:12] annatisch commented on #228
Fix now merged :)

[2018-05-23 21:12] #228 closed

[2018-05-24 17:09] dcristoloveanu commented on #237
Hi @ahmedawad1

I assume you are referring to the LogErrors spewed by uamqp and C shared util. The filepaths there are due to the fact that LogError [spews __FILE__ as part of the entire log line](https://github.com/Azure/azure-c-shared-utility/blob/adcdd2306fc68b537d1c090068a235e5f85437d4/inc/azure_c_shared_utility/xlogging.h#L88).

This information was there so it can allow easier tracing of wha

[2018-05-25 06:04] dcristoloveanu commented on #138
This is merged now with #238

[2018-05-25 06:04] #138 closed

[2018-05-27 12:30] ahmedawad1 commented on #237
Thank you very much Dan for the informative answer!

[2018-05-27 12:30] #237 closed

[2018-05-30 13:30] ahmedawad1 opened #239 "transmitting to Eventhub using messagesender_send_async"
Hi all,

I have a question regarding this sample [program](https://github.com/Azure/azure-uamqp-c/blob/master/samples/message_sender_sample/main.c) and specifically when using the
`messagesender_send_async` I understand that this method transmits asynchronously to cloud. There is also a call back function `on_message_send_complete`  which returns the message transmission result.

I use it like thi

[2018-06-01 03:09] dcristoloveanu commented on #239
Hi @ahmedawad1

Let me try to address these one by one.
1) For the Disposition loss I see 2 options:
a) uAMQP currently will indicate the transfers that have no disposition as error'd when the connection is detected as broken. So the client side app would see that the payloads are not sent and send them again. This obviously can create duplicates and a de-dup solution has to be implemented in the

[2018-06-01 17:31] dcristoloveanu commented on #231
@annatisch
master now has a way to bubble up the information of a connection close received which contains the redirect information. I was oscillating between this generic connection_close_received handler and a dedicated connection_redirect event handler.
I think it would be nice to have both probably and the user can choose which one to use ultimately. We might get there after I have the informa

[2018-06-01 17:38] dcristoloveanu commented on #239
Hi @ahmedawad1
For 1) I just checked and EH does not support link resumes due to the fact that the server side would have to retain the state of each link for a potentially infinite amount of time which could create a lot of resource usage issues. Even if these resumable links would be expired after some time there is complexity that would be brought in with such a feature and the EH decision was

[2018-06-04 10:13] ahmedawad1 commented on #239
Thank you so much Dan for your clarifications!

[2018-06-04 10:13] #239 closed

[2018-06-05 06:15] dcristoloveanu commented on #137
This is not really an issue anymore, since the split of mocks has been done, thus closing the issue.

[2018-06-05 06:15] #137 closed

[2018-06-08 22:02] dcristoloveanu commented on #231
@annatisch
With the latest changes I believe the redirect information is bubbled up to the user for connection and link.
Can you give this a try and let me know if it works for you?

Thanks,
/Dan

[2018-06-08 22:03] dcristoloveanu commented on #123
This is an issue that pertains to C shared utility, as uamqp simply uses that.
Building with openssl for VS 2008 is probably not a target at the moment for C shared, thus closing this.

[2018-06-08 22:03] #123 closed

[2018-06-10 23:22] annatisch commented on #231
Thanks so much @dcristoloveanu!
I've started exposing it in the Python bindings and will test it out today :)

[2018-06-13 04:31] annatisch commented on #231
Thanks @dcristoloveanu - so I've been trying to test this but am running into some curious behaviour. I don't know whether it's expected, or whether I have done something incorrectly and I'm hoping @digimaun might be able to clarify.

Effectively, I send an ATTACH frame, then receive one back in response - however it does not have the source/target properties populated. The client detects this as

[2018-06-13 19:36] digimaun commented on #231
@annatisch  After some investigation I believe I found the problem, you need to append '$management' to the operation path so 'amqps://pyot.azure-devices.net/messages/events/$management'

[2018-06-13 19:53] digimaun commented on #231
Here is an example of how the event hub node client does it. The pattern for to build the connection string is to hit the /messages/events/$management endpoint, expect an error, parse out the redirect info and return a new connection string.

https://github.com/Azure/azure-event-hubs-node/blob/a0757f04d0a66ec1ae7db7d5f27d70a865458005/client/lib/iothub/iothubClient.ts#L49

[2018-06-13 20:05] annatisch commented on #231
Thanks @digimaun!
Though unfortunately it didn't seem to help:
[code]

[2018-06-13 21:16] digimaun commented on #231
Good question. Looks like the Node JS SDK is using [rhea](https://github.com/amqp/rhea) for the AMQP implementation. I am not knowledgeable about it, we'll need to investigate how it works.

At least from an error perspective in the Event Hub SDK all the necessary details are in the error that is thrown so the handling seems pretty straightforward .

Transform the error:
https://github.com/Azure/a

[2018-06-13 21:33] dcristoloveanu commented on #231
This might be an issue in uamqp.

Basically the ATTACH with NULL endpoint indicates that the peer(server) does not want to create a terminus.

From the AMQP spec:
If there is no pre-existing terminus, and the peer does not wish to create a new one, this is indicated by setting the
local terminus (source or target as appropriate) to null.
Peer Partner
===============================================

[2018-06-14 02:53] annatisch commented on #231
Thanks @dcristoloveanu
I played around with simply ignoring the missing source/target from the link ATTACH frame
 in the `if_attached_type_by_descriptor` section in session.c and it seems to run fine for both my existing tests and the IoThub scenario (though I haven't yet run the uAMQP-C tests):
[code]

[2018-06-14 04:04] dcristoloveanu commented on #231
@annatisch Yep, that is the basic idea.
I need to run through some more cases of what happens to the link and then I'll merge the change in.

Thanks for the patience on this!
/Dan

[2018-06-15 05:28] dcristoloveanu commented on #231
@annatisch The fix should be in, I assume it will work for you as it is the same fix you posted in the thread :-)

Thanks!
/Dan

[2018-06-16 09:19] annatisch commented on #231
Yes - it's working! Thank you so much :)

[2018-06-16 09:19] #231 closed

[2018-06-20 13:31] HyP3r- opened #244 "SASL handshake failed"
Hello, we are using **azure-uamqp-c** as part of the Python Package **azure-iothub-service-client** (which is part of the **azure-iot-sdk-python** which is part of the **azure-iot-sdk-c**).

Now I was trying to change the Share Access Polices from **iothubowner** to **service** in my code to imporve the security. But with the **service** Share Access Polices I get following error:

`Error: Time:We

[2018-06-20 17:12] dcristoloveanu commented on #244
Hi @HyP3r-

Thanks for filing the issue. Per the AMQP standard a response of 2 (sys) in the SASL handshake indicates a server error when processing the request (Connection authentication failed due to a system error.).

This error gets indicated to the user of uamqp (azure-iothub-service-client) so unfortunately I think the issue lies either in that layer or some other error happened on the server

[2018-06-20 17:31] zolvarga commented on #244
@HyP3r-

I will move (close here and copy paste to there) this issue to the azure-iot-sdk-python repo and follow up on that there.

Best Regards,
Zoltan

[2018-06-20 17:33] zolvarga commented on #244
@HyP3r-

This is the new issue t ofollow up:
https://github.com/Azure/azure-iot-sdk-python/issues/149

Best Regards,
Zoltan

[2018-06-20 17:33] #244 closed

[2018-06-28 16:23] annatisch opened #245 "Connection close segfault with multiple sessions"
Hi @dcristoloveanu - I'm seeing an error in one of my async samples that I thought I would run by you for some advice.

I'm running two receivers, each with their own Session on a single connection.
I close one receiver, its Link, and its Session, before closing the 2nd receiver, its Link and its Session, then finally destroy the connection.

However I'm getting a segmentation fault in the connect

[2018-06-28 16:41] annatisch commented on #245
Ah - so I actually just read the comment that says:
`Any incoming channel number associated with the endpoint shall be released.`

Does this mean that endpoint "index 0" is an "incoming channel number"?

[2018-06-28 17:15] annatisch commented on #245
I have a new theory.
When the Session starts the endpoint, it passes in the Session itself as the callback_context:
https://github.com/Azure/azure-uamqp-c/blob/master/src/session.c#L844

However when the Session is destroyed, I guess that context is lost, but the incoming channel endpoint that references that context is not removed from the connection endpoints.
The in the connection_set_state fun

[2018-06-28 18:14] annatisch commented on #245
I should add some context - this error is only happening when the receivers/link/sessions are shutdown due to a link redirect DETACH frame.

I have another sample with receivers/links/sessions sharing a connection that shuts down on timeout and that has no issues.

[2018-06-28 20:01] dcristoloveanu commented on #245
Thanks @annatisch for the context, let me have a look and I'll come back with what I find.

Cheers,
/Dan

[2018-06-30 23:24] annatisch opened #246 "Memory leak in sender debug logging"
There appears to be some kind of memory leak in the `log_message_chunk` function:
https://github.com/Azure/azure-uamqp-c/blob/master/src/message_sender.c#L162

If I run a sender continuously with debug logs on the memory steadily climbs - but _only if_ my message has one of the additional sections added (i.e. header, or properties, or annotations etc).

This logging function actually crashes on my

[2018-07-03 19:03] annatisch opened #247 "initial-delivery-count not required on receiver ATTACH frame"
According to the AMQP spec here:
http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-transport-v1.0-os.html#type-attach

The initial-delivery-count field is only required for a sender role, and ignored for a receiver.
However the code currently only enforces it for a receiver role:
https://github.com/Azure/azure-uamqp-c/blob/master/src/link.c#L330

I tried simply changing this statement to `if

[2018-07-03 19:05] dcristoloveanu commented on #245
Hi @annatisch

I finally got to start looking at this issue, I am building a repro for it in the local tests. What would help me in case if you have it is one of your logs for it.

Thanks,
/Dan

[2018-07-03 19:07] annatisch commented on #245
Sure thing - I'll just run the test again.

[2018-07-03 19:29] dcristoloveanu commented on #245
Thanks!

Wrote a test for it and indeed I am definitely getting the same AV. Working on the fix based on your comments!

/Dan

[2018-07-03 20:34] dcristoloveanu commented on #245
I just submitted #248, the cleanup of the endpoint was weirdly written indeed as you noticed in your comments. I do not remember doing that, I was very surprised at it also, but hey, who knows, it was probably me :-).

Let me know if this solves your AV.

/Dan

[2018-07-03 20:37] dcristoloveanu commented on #246
Let me have a look. Btw, best tool I have found for now for Windows to track memory leaks is VLD. And of course Linux is Valgrind. As a matter of fact all the tests that do run in the gated build run with Valgrind on, which will catch the leaks.

I'll write a new test which uses all header properties and annotations and see if we have any leaks there. Thanks for reporting it.

Cheers,
/Dan

[2018-07-03 20:46] annatisch commented on #245
Thanks so much!
The test is certainly now running without crashing :)

Though I am still seeing a "Cannot find session endpoint" error - is this important?

[code]

[2018-07-03 20:50] annatisch commented on #246
Thanks!
Yes I've been using Valgrind + docker from time to time - though it's a bit noisy when running with Python because python implements it's own malloc, which valgrind can't track be default.

Just to be clear - the leak only exists when debug trace is turned on. So shouldn't affect production workflows that will actually be running for long periods of time.

[2018-07-03 21:59] dcristoloveanu commented on #245
This is because the Detach performatives are received after we have discarded everything related to the session. I believe this should not matter as the session is ended anyhow.

[2018-07-03 22:05] dcristoloveanu commented on #247
Hi @annatisch

Indeed the AMQP spec states that "This MUST NOT be null if role is sender, and it is ignored if the role is receiver. See subsection 2.6.7"

The [https://github.com/Azure/azure-uamqp-c/blob/master/src/link.c#L330](https://github.com/Azure/azure-uamqp-c/blob/master/src/link.c#L330) is performing the check in the context of an Attach frame being received on that link.

So if the local

[2018-07-03 22:07] dcristoloveanu commented on #246
@annatisch

I've posted the PR fixing this. It was due to the macro P_OR_NULL, which expands to evaluating twice the value that we attempt to print.
I've added a test that turns on tracing and runs in the gated build so this should not come back.

Cheers,
/Dan

[2018-07-04 06:32] dcristoloveanu commented on #246
This should be fixed now in the latest master.

Cheers,
/Dan

[2018-07-04 06:32] #246 closed

[2018-07-04 07:15] dcristoloveanu commented on #245
This should be in master now.
Let me know if you still have issues with it!

Cheers,
/Dan

[2018-07-04 07:16] dcristoloveanu commented on #217
@jspaith Could you please verify if this issue is still present on the latest master?
There were a couple of fixes regarding link and session management and I suspect this could have been because of those (already fixed) issues.

Thanks!
/Dan

[2018-07-04 14:21] annatisch commented on #245
Awesome thank you!

[2018-07-04 14:21] #245 closed

[2018-07-06 04:37] dcristoloveanu commented on #247
@annatisch Indeed, if we (client) initiated a receiver link and we receive an attach frame without initial-delivery-count that is essentially violating the spec.

"initial-delivery-count the sender’s initial value for delivery-count
This MUST NOT be null if role is sender, and it is ignored if the role is receiver. See subsection
2.6.7."

But I believe 2.6.3 is also stating
"If there is no pre-exi

[2018-07-09 21:37] dcristoloveanu commented on #247
Hi @annatisch,

I was attempting to fix this, but while doing so I realized I might have missed something :-).

So I will just state what I realized first:
- The check for the initial-delivery-count does make sense, since under normal circumstances (when the broker does create a link endpoint) the initial-delivery-count must be there on the ATTACH frames sent by the sender.
uAMQP does have the che

[2018-07-09 21:42] annatisch commented on #247
Thanks for looking into this @dcristoloveanu!
I'm trying to remember under which circumstances I saw this behavior.... I think it was attempting to open a receiver against an eventhub that already had an epoch receiver running.

I will run through my tests again to try and reproduce :)

[2018-07-10 15:22] annatisch opened #250 "How to set proxy settings"
Hello,

I was wondering how one could set up an AMQP client on a network with a proxy.
I see there's various 'setoption' settings for proxy data in Azure C Shared Utility - but I can't find anything that relates directly to the tls IO used for the AMQP connection.

I tried to look through the IoTHub client to see how they do, but they just seem to discard the proxy settings:
https://github.com/Azu

[2018-07-11 13:46] annatisch commented on #250
aaaah gotcha! This is very interesting - thanks for such an in-depth explanation! (And you've saved me posting a question on websocket implementation that was bound to come up eventually).

I will close for now as the link provided seems pretty comprehensive. If I trip over anything I'll reopen :)

[2018-07-11 13:46] #250 closed

[2018-07-11 21:38] annatisch opened #251 "Proposal for exposing send disposition delivery state"
Hi there,

I would like to surface the ["state" field of the disposition performative](http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-transport-v1.0-os.html#type-disposition) for the message sender, and pass this value into the `on_message_send_complete` callback.

When running high performance tests against EventHubs I sometimes get the following disposition:
[code]

Currently I have a bl

[2018-07-13 05:47] dcristoloveanu commented on #247
@annatisch Sorry for the slight delay.
So just for my fully understanding this:
Link 7 in the log above gets detached by the service side because of the limit you mentioned.
On the client side the fact that the link state changed gets propagated to the message receiver, which in turn changes its state to be ERROR and notifies its user.

Up to now seems OK. The user of the receiver needs to decide

[2018-07-13 05:48] dcristoloveanu commented on #247
I put the change in the link_detach_before_state_change branch. Let me know if it helps then I can merge it in.

Cheers,
/Dan

[2018-07-13 05:53] dcristoloveanu commented on #251
@annatisch I can't see anything wrong with the direction :-). It's surfacing the information through the messaging layer, seems OK as feature.

Feel free to PR it (and whatever changes are needed in tests/specs /etc.).

Cheers,
/Dan

[2018-07-13 13:56] annatisch commented on #247
Thanks! I will try to test today :)

[2018-08-01 00:10] #251 closed

[2018-09-12 05:10] dcristoloveanu commented on #217
Closing as old, please reopen if a similar crash is encountered again.

Thanks!
/Dan

[2018-09-12 05:10] #217 closed

[2018-10-12 01:17] seanyen-msft opened #262 "CMake fails to find "/configs/azure_iot_build_rules.cmake" when use_installed_dependencies=ON"
When you do something like:
[code]

You will get:
[code]

Probably CMakeLists.txt:52 needs a fix-up like:
`include(deps/azure-c-shared-utility/configs/azure_iot_build_rules.cmake)`

[2018-10-12 06:15] dcristoloveanu commented on #262
Hi @seanyen-msft

I am not very much into the use_installed_dependencies business :-). I understand that there are clearly cases where that is needed though, so assuming the above works for you, if you PR it, I will pull it in.

HTH,
/Dan

[2018-10-17 22:09] dcristoloveanu commented on #262
Hi @seanyen-msft ,
I looked at the PR and I changed it slightly to use either deps directly or the SHARED_UTIL_FOLDER depending on whether building with installed dependencies or not.

The reason is that normally uamqp should not necessarily require the repos that submodule uamqp to pull all the dependent repos.
One would then ask why not pull them. It turns out that pulling all the submodules all

[2018-10-17 22:09] #262 closed

[2018-10-22 22:45] annatisch opened #269 "Array encoding difficulties"
Hi @dcristoloveanu - I'm at a bit of a loss and hoping you can help me out here.

So I'm looking at implementing two commands for service bus - both of which deal in arrays.

The first - [Schedule messages](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#schedule-message) and [cancel scheduled messages](https://docs.microsoft.com/en-us/azure/service-b

[2018-10-24 16:29] annatisch commented on #269
Hi @dcristoloveanu - any thoughts on how I could further debug this?
I've tried comparing each incoming byte of a decoded array to the encoded bytes I'm sending out and can't see anything incriminating....

Any pointers you could give me would be appreciated :)

[2018-10-25 02:44] dcristoloveanu commented on #269
@annatisch Just got to this, started looking at it, will post what I find shortly.

[2018-10-25 02:57] dcristoloveanu commented on #269
Hi @annatisch,
Sorry it took so long to get to this.
The issue is due to the fact that arrays in AMQP are monomorphic.
All elements in the array have the same type (the type of the first element).
Thus the constructor is not to be repeated for each value, it should be only one time in the array.

Taking the UUID example above with 2 UUIDs:
e0 <- array constructor
23 <- length of the array
02 <- nu

[2018-10-25 15:35] annatisch commented on #269
Aaaaaaaaaaahhhhhhhhhhhhh thank you thank you thank you! This was driving me insane!! :)
I will try to put together a patch today!

[2018-10-25 16:30] annatisch commented on #269
Quick question @dcristoloveanu - does that mean for an array of types like binary, string, long etc - that each value in the array must also be of the exact same size as well as type?

[2018-10-25 17:40] dcristoloveanu commented on #269
The short answer is yes: there is only one constructor that can be for the array items.
I was also thinking of this when I posted the reply.
It makes for some interesting code for encoding the array.

There are 2 choices on the implementation:
1. Always use the constructor that can store the biggest value. Example for an array of uint always use <encoding code="0x70" category="fixed" width="4"
lab

[2018-10-31 21:39] annatisch commented on #269
Quick update - I have this PR ready to go - it's just taken me a little time to actually validate the output against a live service endpoint. Seems to be running now as expected so I will open the PR tomorrow :)

[2018-10-31 22:23] annatisch opened #270 "Sent message never receives DISPOSITION"
Hi @dcristoloveanu

I'm seeing some interesting behaviour I'm hoping you may have some insight into.
My understanding is that max supported messages size is 256kb (maybe this depends on a service).

By default I configure my session/links with the max message and window size - and I have run tests that send a 256kb payload in a message successfully on Windows and Debian. In the logs, I can see the

[2018-11-01 16:05] annatisch commented on #269
I've PR'ed my changes :)

As mentioned in the PR - one area that may need amending is the array size calculation - which probably needs to be reduced to account for the missing constructor bytes in each element....

[2018-11-02 05:41] dcristoloveanu commented on #269
@annatisch Having a look ...

[2018-11-02 05:47] dcristoloveanu commented on #270
There should be no differences in encoding and handling settles between Windows/OSx.
As a matter of fact IoTHub SDK uses uAMQP on Windows/Linux/OSx and I have not heard of this issue.

The code actually is the same at uAMQP level.
The differences are in the PAL that is underneath.

Windows uses SChannel for TLS. Also it uses WinSock for socket APIs.
Linux/OSx will use openssl for TLS. And socketio

[2018-11-03 16:41] annatisch commented on #270
Thanks @dcristoloveanu!

I also thought it must be related to the OpenSSL TLS layer - however that wouldn't explain why I can run it successfully on Debian, which also uses OpenSSL (unless it has something to do with running debian from a docker container on Windows).

The payload in both cases is a single message of 256000 characters.

My Windows output looks like the following:
[code]

I will ed

[2018-11-05 15:54] annatisch commented on #270
Okay, here is the output from my Mac. Notice that after the TRANSFER frames, nothing further is received however the client continues to poll the connection which after 2 minutes or so sends an empty frame to keep the connection alive - this in turn seems to reveal that the connection is in fact in an invalid state which initiates a client shutdown.
[code]

[2018-11-07 06:56] dcristoloveanu commented on #269
Merged the PR. You should be set.

[2018-11-07 06:56] #269 closed

[2018-11-07 06:56] dcristoloveanu commented on #270
PR merged, closing.

[2018-11-07 15:08] annatisch commented on #270
This issue isn't related to the PR :)

[2018-11-07 21:20] dcristoloveanu commented on #270
Oops, not intentional :-)

[2018-11-13 19:58] annatisch opened #273 "Logging change crashes on OSX"
It seems one of the latest logging changes crashes in connection.c `log_outgoing_frame` (probably incoming frame too, but the code doesn't get that far).

By reverting these changes:
- Removing the extra "%s" argument here:
https://github.com/Azure/azure-uamqp-c/blob/master/src/connection.c#L250

- And removing the "if (0) " statement here:
https://github.com/Azure/azure-c-shared-utility/blob/mast

[2018-11-14 07:38] dcristoloveanu commented on #273
Hi @annatisch

Very interesting. I need to look at this in closer detail tomorrow. I don't understand yet why it would crash. The only explanation would be __VA_ARGS__ gets expanded to something else and and basically the printf under LOG() attempts to print a string from a pointer that is not pointing to a string.

The problem with removing the extra %s is that a warning is spewed I believe by cl

[2018-11-15 04:47] dcristoloveanu commented on #273
@annatisch I was looking a bit more into this today.
One thing to mention is that the %s formatting is there to avoid the warning on clang when building for OsX:

/Users/jenkins/build/workspace/c-osx-xcode-native/src/connection.c:225:30: error: format string is not a string literal (potentially insecure) [-Werror,-Wformat-security]
        LOG(AZ_LOG_TRACE, 0, get_frame_type_as_string(descriptor))

[2018-11-26 22:21] annatisch opened #274 "Question: Message disposition disposition"
Hi there,

Had a quick question on expected behaviour for when a message disposition is rejected.
For example:
A message receiver returns a message, but the client takes some time to process the message before returning an 'accept' DISPOSITION. The service has declared the message expired, and therefore the DISPOSITION should be rejected to indicate that the message has been re-added to the queue

[2018-11-29 03:39] dcristoloveanu commented on #274
Hi @annatisch

I believe what you are after is the receiver settle mode "second".

2.8.3 Receiver Settle Mode
Settlement policy for a receiver.
<type name="receiver-settle-mode" class="restricted" source="ubyte"> <choice name="first" value="0"/> <choice name="second" value="1"/> </type>
Valid Values
0 The receiver will spontaneously settle all incoming transfers.
1 The receiver will only settle af

[2018-11-29 03:41] dcristoloveanu commented on #273
Hi @annatisch,

Whenever you have some extra time can you update me on the compiler used so I can try a repro?

Cheers,
/Dan

[2018-12-07 17:57] annatisch commented on #273
So sorry for dropping the ball here!
My full build log is as follows:
[code]

However it looks like the Python extension is being build with gcc?
[code]

[2018-12-10 22:34] bsiegel commented on #273
On Mac, `gcc` is an alias for clang, you can verify with `gcc --help`.

[2019-07-09 05:46] hlange opened #302 "Memory leak with version 1.2.11"
I am currently developing a client that sends and receives data using UAMQP, but the memory is growing.

Since I work on a Windows system, I studied the program with DrMemory, which tells me the following:

[2019-07-09 05:56] hlange commented on #302
c:\users\henrik\source\repos\cloudconnector\cloudconnector\classes\uamqp\uamqpreceiver.cpp(121):
`tls_io = xio_create(tlsio_interface, &tls_io_config);`
c:\users\henrik\source\repos\cloudconnector\cloudconnector\classes\uamqp\uamqpreceiver.cpp(126):
`sasl_io = xio_create(saslclientio_get_interface_description(), &sasl_io_config);`
c:\users\henrik\source\repos\cloudconnector\cloudconnector\classes\

[2019-08-20 23:34] yunhaoling opened #306 "Unable to start multiple sessions on the same connection for receiving messages"
**Target:** Receive messages from different partitions, create new sessions for each partition receiver (one receiver per session). Use the existing cbs session for putting tokens of the new link endpoint and then start receiving messages.

**Problem:** Tokens can be put but messages can't be received, newly created sessions don't begin.

**Code:**
[code]

[2019-08-21 05:44] bibble235 opened #307 "detach_get_error return non NULL value regardless of error"
[code]
In the code above when the function returns detach_get_error returns 0 but the error is not null. Therefore the link state is set to  LINK_STATE_ERROR. This is when building on Ubuntu disco. In my case this causes azure-iot-sdk-c to fail.

[2019-08-26 15:40] alexmrtn opened #309 "CMake error CMP0002 when added multiple times"
Hi,

The top level `CMakeLists.txt` file is missing a guard when this project is recursively added in several places. As example, if a project uses both `azure-iot-sdk-c` and `azure-event-hubs-c` using the `add_subdirectory` cmake function, it triggers a `CMP0002` error.

Can you add this lines of code [as it is done for the umqtt](https://github.com/Azure/azure-umqtt-c/blob/master/CMakeLists.txt#

[2019-11-25 19:09] cstarkj opened #325 "Crash occurs when network is configured to NOT get DNS servers from DHCP"
The crash occurs in deps/azure-c-shared-utility/adapters/socketio_berkeley.c at line 301.  This is because addr->a_addr is a bad pointer and on my embedded linux device throws a segment fault

I realize this is a rather strange configuration and is very un-typical, but though maybe some additional error checks are needed here.

Our device allows for DNS entries to manually set even with DHCP turne

[2020-03-06 06:24] yunhaoling opened #331 "Update submodule azure-c-shared-utility for certificate issue on MacOS"
Hi team,

Recently I've fixed a bug of tlsio not being able to set certificate on MacOS in the submodule azure-c-shared-utility.
My PR get merged into their master branch- https://github.com/Azure/azure-c-shared-utility/pull/427.

This issue is for the purpose of getting you aware of the update in azure-c-shared-utility so that you can update your submodule accordingly.

[2020-03-17 06:01] ewertons opened #333 "Session still accessing link after link_destroy invoked, resulting in SEGFAULT"
We are destroying a messagesender and its link afterwards, but right next the session still attempts to route an incoming message to such link, causing a memory access violation.

This is the stack of when the messagesender is destroyed:

Breakpoint 1, messagesender_destroy (message_sender=0x555555891a70) at /home/ewertons/azure-iot-sdk-c/uamqp/src/message_sender.c:751
751	    if (message_sender =

[2020-04-20 21:36] ewertons opened #337 "link_frame_received keeps generates unnecessary "Invalid argument (list=NULL)" errors"
link_frame_received does not check if pending_deliveries list is NULL before calling singlylinkedlist functions, resulting in several unnecessary errors in the log:

Error: Time:Mon Apr 20 09:55:30 2020 File:/home/ewertons/code/s1/azure-iot-sdk-c/c-utility/src/singlylinkedlist.c Func:singlylinkedlist_get_head_item Line:166 Invalid argument (list=NULL)
Error: Time:Mon Apr 20 09:55:30 2020 File:/hom

[2020-04-21 17:44] #337 closed

[2020-04-22 18:39] ewertons commented on #333
Adding more details of a parallel investigation:

If application calls link_destroy [void link_destroy(LINK_HANDLE link), link.c:872],

the link.c layer will then:​
a. call session_destroy_link_endpoint [void session_destroy_link_endpoint(LINK_ENDPOINT_HANDLE link_endpoint), session.c:1162], AND​
b. Free the link (!).​
​
But session_destroy_link_endpoint will only remove the link endpoint if its s

[2020-05-15 16:16] ewertons commented on #333
Fixed.

[2020-05-15 16:16] #333 closed

[2020-06-18 15:56] ssdbest opened #344 "uamqp to connect rabbitmq message broker."
I would like to know if i can use uamqp library to interact with rabbitmq message broker. RX is simple queue based communication and TX is topic exchange (rabbitmq concept: https://www.rabbitmq.com/tutorials/tutorial-three-python.html) based communication. Any documentation or sample code would be helpful.

[2020-07-23 19:50] Counterfly commented on #344
uamqp uses the AMQP 1-0+ protocol. rabbitMQ runs on the AMQP 0.9 protocol version so i don't think uamqp would work

[2020-08-24 16:06] 1008covingtonlane opened #349 "Unable to compile for BSD11."
Does anyone know any tricks to get azure-uamqp-c installed on a BSD 11 host?  I keep getting this failure:
root@host# cmake --build .
[  1%] Building C object deps/azure-c-shared-utility/CMakeFiles/aziotsharedutil.dir/adapters/platform_linux.c.o
**/root/azure-uamqp-c/deps/azure-c-shared-utility/adapters/platform_linux.c:59:12: error: implicit declaration of function 'tlsio_openssl_get_interface_de

[2020-10-05 07:19] ssdbest commented on #344
Added AMQP1.0 support to rabbitmq using plugin. Now we are able communicate with rabbitmq broker.

[2020-10-05 07:19] #344 closed

[2020-10-21 11:55] MikDal002 opened #353 "Connect to service bus via WebSockets"
Hello, I am looking for a way to connect to the service bus via web sockets. I wasn't able to make qpid-proton-c working for me. I found that azure-iot-c works over WS with IoT Hub, which brought me here. Unfortunately, I can't found connection parameters that I should provide to the "websocket_example"  example. Of course, I filled `IOT_HUB_HOST` with `"dev-myservicebusname.servicebus.windows.net

[2020-10-22 11:37] MikDal002 commented on #353
I made a step ahead. After looking at Event Hub example and with some deduction i finished with:
* ws_io_config.resource_name=/$servicebus/websocket,
* scope_string have to be equal sb://" SB_HOST "/" SB_QUEUE_NAME "/"
* and in cbs_put_token_ascync it must be the same.

With this, I successfully putted a message to the service bus. But I came across on another barrier – I can't receive any message

[2021-01-20 23:16] yunhaoling opened #373 "AMQP Transaction support"
I didn't find transaction is supported in the azure-uamqp-c which is part of core amqp spec: http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-transactions-v1.0-os.html

Do we have the plan to support the transaction?

[2021-04-01 18:42] jo-me opened #388 "How to provide receive offset or enqueued time filter?"
Hi,
I'm looking for a way to filter the messages received by providing an offset or time frame that I want to receive.
As far as I can see the Event hub supports something like this in combination with AMQP.
(https://azure.github.io/amqpnetlite/articles/azure_eventhubs.html)
I could not find a hint on how to do it with this lib.

How can this be done in uAMQP?

My use case is that I want to limit

[2021-05-19 17:42] paduchuriramesh opened #396 "Need example for batching"
I went over the SDK, samples but couldn't find any way to achieve batching of messages using this SDK. Can someone help me with some sample code?

[2021-06-01 22:41] alex-picolini commented on #23
Hi, any update?

[2021-08-16 09:29] umaru724 opened #403 "src/amqp_definitions.c exists memory double-free issues"
src/amqp_definitions.c exists memory double-free issues that free a memory which is already freed.
In sasl_mechanisms_get_sasl_server_mechanisms function, the second parameter "sasl_server_mechanisms_value" memory could be freed by amqpvalue_destroy() in Line 10420, 10427, 10435 and then was freed again in the end of function (Line 10446).
That means the "sasl_server_mechanisms_value" memory must

[2021-09-26 09:48] Dasthananda opened #408 "After upgrading azure-iot-sdk-c from LTS_01_2021_Ref01 to LTS_07_2021_Ref01 certificate verify is flailing"
I have upgraded my azure-iot-sdk-c from LTS_01_2021_Ref01 to LTS_07_2021_Ref01. And I am observing few issues with certificate verification. I have build the sdk with below options

-Dbuild_provisioning_service_client=OFF \
  -Ddont_use_uploadtoblob=ON \
  -Duse_prov_client=ON \
  -Duse_openssl=ON \
  -Duse_mqtt=ON \
  -Duse_default_uuid=ON \
  -Dhsm_type_custom=ON \
  -Dskip_samples=ON \
  -Duse_

[2021-09-26 09:49] Dasthananda commented on #408
Closing this opened in wrong window

[2021-09-26 09:49] #408 closed

[2021-10-04 06:55] alseambusher opened #409 "Unable to run message_receiver_sample"
Hi folks!

Thanks for creating this library. I am new to azure and new to this library. We want to use azure service bus for one of our applications and was trying the samples provided here.

I was able to successfully send messages to the service bus using the `message_sender_sample` but was unable to receive the same back while using the message_receiver_sample. I get the following error:
[code]

[2021-10-05 19:55] alseambusher opened #410 "Unable to use find_package"
Hi folks,

I was able to install the library on my machine and was trying to use it in find_package as follows:

[code]

[code]

I have this file installed `/usr/local/lib/libaziotsharedutil.a`. Can someone help me debug this?

[2021-11-02 17:19] jo-me commented on #388
So, this thing seems to be dead, but answering to myself:

It is possible using amqp filter sets.
In other AMQP implementations this is documented better and I was able to expand upon the uampq receive example to receive only messages arriving after starting the receiver.

Basically, the simple "source" definition (containing the amqp address) needs to be replaced with a more elaborate config as t